[2020-11-24 19:00] BermyToiga opened #1 "My app refuses to open with start button"
I've added all the dependencies and started moving a bit of code over to get this working in my app, however when I try to add this code:
`Center(child: StartButton(nextScreen: SecondScreen())),`
To my app's sign in screen, it will not open, without any reason in output

Launching lib/main.dart on iPhone SE (2nd generation) in debug mode...
Xcode build done.

[2020-11-25 04:22] sarika01 commented on #1
Were you able to run the example app?

[2020-11-25 04:45] BermyToiga commented on #1
Yes the example app runs fine

[2020-11-26 10:58] sarika01 commented on #1
@BermyToiga The plugin has been modified to have only the authentication flow. Can you please try again?

[2020-11-26 13:10] BermyToiga commented on #1
Seems to work now, thanks!

On Thu, Nov 26, 2020, 6:58 AM Sarika <notifications@github.com> wrote:

[2020-11-26 17:25] #1 closed

[2020-11-26 17:32] BermyToiga opened #2 "Goes to QR Code even if onboard already has @sign in keychain and gets auth success"
I must be missing a step, but I call onboard in the init state and get auth success, but when I tap the button it takes me to the QR scanner. When I tested this earlier on phones that were previously signed in it skipped the QR and went to the next screen. I have changed the code to match the readme guidelines where before I had just imported the files from the example project

[2020-11-27 04:21] sarika01 commented on #2
The code logic is changed to give flexibility and control to the calling app. The app will have to handle the logic whether the scan qr screen needs to be shown or not.
When the onboard method returns existing AtSign from keychain, one may have to hide the button if the app supports only one atsign. In the case of multiple atsigns support, there would be multiple instances of atClient and the logi

[2020-11-27 22:40] BermyToiga commented on #2
Okay, this makes sense! I have gotten it so that if an @sign is pulled from keychain it bypasses the login screen and goes straight to the app. I think this is functional enough, but I'm wanting to make it so that it shows what @sign is authenticated on the sign in screen and then the user taps to enter the app, similar to @persona. I think the issue I'm having is that the screen renders before th

[2020-11-28 02:32] sarika01 commented on #2
If you are using stateful widget, you can use a state variable to display the atsign. Similar to the example app.
https://github.com/atsign-foundation/at_widgets/blob/dev_env/atsign_authentication_helper/example/lib/second_screen.dart

For awaiting till the onboard completes, you can use Completer from 'dart:async' library.
Please refer: https://github.com/atsign-company/atmosphere/blob/master/lib

[2020-12-01 21:49] BermyToiga commented on #2
Thank you that was very helpful!

[2020-12-01 21:49] #2 closed

[2020-12-01 21:57] BermyToiga opened #3 "I'm getting a failure to compile when trying to use an android emulator and it seems to be authentication helper related"
This is the error I'm getting:

Launching lib/main.dart on sdk gphone x86 arm in debug mode...
/Users/zara/devel/GitHub/TakeAVote/takeavote/android/app/src/debug/AndroidManifest.xml Error:
	uses-sdk:minSdkVersion 16 cannot be smaller than version 24 declared in library [:atsign_authentication_helper] /Users/zara/devel/GitHub/TakeAVote/takeavote/build/atsign_authentication_helper/intermediates/libr

[2020-12-02 15:21] sarika01 commented on #3
The minimum android version supported is 24.
https://github.com/atsign-foundation/at_widgets/tree/dev_env/atsign_authentication_helper#android
The error is thrown because the minimum android version in your project is less than 24.

[2020-12-02 16:55] BermyToiga commented on #3
Yeah, I noticed this in the error message so I added the line `<uses-sdk android:minSdkVersion="24"/>` to my /app/debug manifest but I'm still getting a similar error

[2020-12-02 16:59] BermyToiga commented on #3
Ah, I searched the project for minSdkVersion and found the one I needed to change in build.gradle. Now I'm getting this error now though:

FAILURE: Build failed with an exception.

* What went wrong:
Task 'assembleAarRelease' not found in root project 'atsign_authentication_helper'.

* Try:
Run gradlew tasks to get a list of available tasks. Run with --stacktrace option to get the stack trace. Run

[2020-12-02 17:09] sarika01 commented on #3
Can you please try to change the current version of gradle in ../app/gradle/wrapper/gradle-wrapper.properties
from
distributionUrl=https\://services.gradle.org/distributions/[your_current_version_of_gradle].zip
to
distributionUrl=https\://services.gradle.org/distributions/gradle-6.1.1-all.zip

[2020-12-02 18:09] BermyToiga commented on #3
Okay, I have changed this but still getting that same error

[2020-12-06 17:12] BermyToiga commented on #3
Hi, just wanted to bring this to attention again as I'm still getting this error

[2020-12-07 05:51] sarika01 commented on #3
I am listing the three changes which rectified the issue for me:
1. In android/build.gradle
dependencies {
   classpath 'com.android.tools.build:gradle:3.6.3'
}

2. In android/gradle.properties
android.enableR8=true

3. android/gradle/wrapper/gradle-wrapper.properties
distributionUrl=https\://services.gradle.org/distributions/gradle-6.5-all.zip

Maybe you can compare these files in your project to

[2020-12-07 14:47] BermyToiga commented on #3
Ah, that did it. Thank you!
I think it was step 1 here that I had to upgrade

[2021-01-12 21:34] BermyToiga commented on #3
Hello again, I haven't been using android since the last time that I brought this issue up, Now that I'm trying to release a version for testing I need to build to android, and I'm having failure with this same error message again:

Building plugin atsign_authentication_helper...

FAILURE: Build failed with an exception.

* What went wrong:
Task 'assembleAarRelease' not found in root project 'atsi

[2021-01-12 21:37] BermyToiga commented on #3
I have ran through the previous fixes and and compared those parts of the files with the example app to make sure they are the same, but still seeing this problem unfortunately

[2021-01-14 07:09] sarika01 commented on #3
Changing the references to higher version might help.
i.e.
classpath from com.android.tools.build:gradle:3.5.0   to com.android.tools.build:gradle:4.0.1
and
distributionUrl=https\://services.gradle.org/distributions/gradle-5.6.2-all.zip  to distributionUrl=https\://services.gradle.org/distributions/gradle-6.1.1-all.zip

After this, I also got this error:
Execution failed for task ':app:lintVitalRe

[2021-01-26 19:40] BermyToiga opened #4 "I'm getting a number of issues with authentication_helper"
While depending on the dev_env branch, I tested reading QR codes and pulling in key files to authenticate an atsign but both failed for me.

Kevin & Colin suggested depending from pub.dev, however upon doing that my app now fails to build and I get this series of errors:

Launching lib/main.dart on iPhone 11 Pro Max in debug mode...
Xcode build done.                                           33.6s

[2021-02-16 13:43] BermyToiga commented on #4
This was fixed with the version 0.0.3 update. Thanks!

[2021-02-16 13:43] #4 closed

[2021-02-16 13:45] BermyToiga opened #11 "Not able to authenticate in at_contacts_flutter example"
I get this error when trying to scan QR code to authenticate into the example:

flutter: NoSuchMethodError: The setter 'cramSecret=' was called on null.
Receiver: null
Tried calling: cramSecret="ikpnBQu2SAQsgxNb6mLoGQrVGK4GrUB2wjWLGzHisojHUtm27-tv4knY8KgPeoUZGxXQVofFoLoltqkQbYnzJeLI6864jMxJyjEKc82DYtvQextapZUZVjliZRTaNsbS6Vd8bYqE7iEEDEHcj60hV5"

[2021-02-18 08:45] Sameeraja-Bharathula commented on #11
atClientPreference has to be passed for atsign_authentication_helper plugin. Could you please try with passing atClientPrefernce to the plugin once!

[2021-02-18 15:24] BermyToiga commented on #11
Hi, I have tried this and it failed with this response:

flutter: initializing storage
flutter: INFO|2021-02-18 11:23:52.843900|AtClientImpl|AtClient init  done for : @egCovidLab🛠
flutter: INFO|2021-02-18 11:23:53.221686|AtLookup|from result:data:_c3e65acd-b799-406b-aa97-c8fec6127e13@egcovidlab🛠:d3ebb03c-03f2-4582-b5e2-97804c23d4dc
flutter: INFO|2021-02-18 11:23:53.245994|AtLookup|auth success
flu

[2021-02-18 22:28] BermyToiga commented on #11
In pubspec.yaml I changed the authentication helper dependency to ^0.0.3
In constants I changed local server to 'vip.ve.atsign.zone'
In main.dart I added atClientPreference: clientSdkService.atClientPreference, to ScanQrScreen() call

[2021-02-22 15:42] BermyToiga opened #13 "A couple issues I'm having when using atsign_authentication_helper"
Hard to articulate, but I'll do my best to explain.

1. After successful QR screen authentication and loading the next screen, I do not have access to the atClient Instance. I have to log out and re-authenticate with keychain in order to create polls, start monitor, or get the currentAtsign for example.

2. If the device already has an atSign in keychain that was authenticated in a different way (

[2021-02-22 15:44] #13 closed

[2021-04-07 14:42] ksanty opened #22 "Publish @follows plugin - UPDATED sprint task"
https://github.com/atsign-company/at_settings/issues/291

[2021-04-09 14:11] cpswan opened #23 "Default branch needs to show what's available"
This is a pinned repo on the atsign-foundation org, but the present default branch (master) is essentially empty.

There's plenty going on in dev_env, but how are people supposed to know that?

[2021-04-14 09:18] sachins-geekyants opened #24 "argument type mismatch for qr reader in at_onboarding_flutter"
while compiling , I am getting error in at_onboarding_flutter

![Screenshot 2021-04-14 at 2 40 11 PM](https://user-images.githubusercontent.com/74917871/114686392-5b426100-9d30-11eb-9046-5e2ee51eac18.png)

[2021-04-14 09:19] sachins-geekyants commented on #24
this is my flutter version

![Screenshot 2021-04-14 at 2 49 00 PM](https://user-images.githubusercontent.com/74917871/114686636-9e043900-9d30-11eb-9963-994431d21b18.png)

[2021-04-15 03:59] Sameeraja-Bharathula commented on #24
Currently at_onboarding_flutter doesn't support null-safety versions and this is causing the issue.

[2021-04-19 05:26] Sameeraja-Bharathula commented on #22
published to pub.dev
https://pub.dev/packages/at_follows_flutter

[2021-04-19 11:46] #22 closed

[2021-04-20 14:01] sarika01 commented on #23
@cpswan The master branch is updated with the latest published code.

[2021-04-20 14:03] sarika01 commented on #11
The atsign_authentication_helper package is replaced with at_onboarding_flutter package in the example app.

[2021-04-20 14:05] sarika01 commented on #3
The atsign_authentication_helper package is deprecated with a direction for users to use at_onboarding_flutter package instead.

[2021-04-20 14:05] #3 closed

[2021-04-22 06:15] Sameeraja-Bharathula opened #34 "Publish at_onboarding_flutter, at_backupkey_flutter, at_follows_flutter with latest dependencies to pub.dev"
- [x] update dependencies for packages, test and merge to main branch
- [x] publish at_backupkey_flutter to pub.dev
- [x] publish at_onboarding_flutter to pub.dev
- [x] publish at_follows_flutter to pub.dev

[2021-04-30 15:29] #34 closed

[2021-05-03 20:02] ksanty opened #40 "Extend libraries to include app namespace syntax"
- [x] at_follows_flutter
- [x] at_contact

[2021-05-03 20:03] ksanty commented on #40
- [ ] at_contacts_flutter
- [ ] at_contacts_group_flutter
- [ ] at_location
- [ ] at_chat_flutter
- [ ] at_events_flutter
- [ ] at_follows_flutter
- [ ] at_location_flutter

[2021-05-03 20:25] ksanty opened #41 "Implementation of new onboarding flow proposed"
- [x] Ashish API
- [x] Buzz team @buzz
- [x] at_onboarding widget Geeky Ants
- [x] Acceptance testing @purnimavenkatasubbu

[2021-05-05 05:13] Sameeraja-Bharathula opened #42 "Handle scenario where auth data is missing for selected atsign on demo app"
- [x] Handle when @sign is found in keychain and all the other related information is missing in keychain.
- [x] Make changes to fit the demo @signs' easily into onboarding widget.

[2021-05-27 13:10] purnimavenkatasubbu commented on #41
Tested the new onboarding flow

[2021-05-27 13:10] #41 closed

[2021-05-31 06:04] Sameeraja-Bharathula commented on #42
The changes are available in trunk branch of at_hello_world app.

[2021-05-31 06:04] #42 closed

[2021-05-31 14:36] sarika01 opened #47 "Incomplete authentication leaves the app locked"
Sometimes an incomplete authentication flow leaves the app locked on iOS devices.

Attached is a screenshot of a case where the authentication failed but the atsign was added to the keychain.

<img width="1431" alt="Screenshot 2021-05-27 at 4 01 04 PM" src="https://user-images.githubusercontent.com/12222326/120208204-d1504800-c24a-11eb-87ea-2ded1f4387c7.png">

After getting this error, when the ap

[2021-05-31 14:48] sarika01 commented on #47
An added feature to clear such atsign would be helpful.

[2021-06-01 13:33] Sameeraja-Bharathula commented on #40
The latest code is in namespace migration branch and will be merge to trunk branch.

[2021-06-01 13:33] #40 closed

[2021-06-01 15:25] ksanty opened #48 "Update at_onboarding_flutter with the @buzz new onboarding changes"

[2021-06-04 21:12] cconstab opened #49 "Pooling of certificates and not @signs on backend infrastructure. Speeds QRcode interaction and allows us to move the @sign-o-matic to the onboarding flow"
[Duplicate of ](https://github.com/atsign-foundation/at_server/issues/157)

[2021-06-13 15:59] murali-shris commented on #48
@Sameeraja-Bharathula please update the status

[2021-06-14 05:22] Sameeraja-Bharathula commented on #48
New changes were implemented In staging. But couldn't able to test it in staging as servers were in activating state.

[2021-06-14 14:13] #48 closed

[2021-06-14 15:32] #49 closed

[2021-06-14 15:36] TylerTrott opened #53 "Pub.Dev GitHub Repo links point to Master branch"
**Describe the bug**
Widgets that exist on pub.dev all have links that point to master branch rather than trunk.

**To Reproduce**
Steps to reproduce the behavior:
1. First I 'Navigate to a widget page such as https://pub.dev/packages/at_events_flutter'
2. Then I 'Navigate to the right nav bar and click Repository (GitHub)'

**Expected behavior**
Persons who click link should be navigated to trunk

[2021-06-14 15:48] ksanty opened #54 "test refactored SDK code with @buzz, @arrive,atmosphere"

[2021-06-14 15:48] ksanty opened #55 "migrate flutter libraries/widgets to null safety"

[2021-06-14 15:49] murali-shris commented on #54
moving to at_client_sdk repo

[2021-06-14 15:49] #54 closed

[2021-06-14 23:33] tinashe404 opened #56 "Not able to scroll on the reset screen in the onboarding widget"
**Describe the bug**
If a person has numerous atsigns they are not able to reset the app they are using because when you try to reset, the widget does not allow you to scroll up or down and so the person cannot access all their atsigns or the button.

**To Reproduce**
Steps to reproduce the behavior:
1. First I pair numerous atsigns, at least 10 (the person who reported the issue had 80 atsigns)
2

[2021-06-16 13:19] murali-shris commented on #55
- [x] migrate at_backupkey_flutter
- [x] migate at_onboarding_flutter
- [x] migrate at_follows_flutter
- [ ] test
- [ ] merge to trunk
- [ ] publish to pub.dev

[2021-06-16 16:28] ksanty opened #59 "Invitation widget"

[2021-06-28 11:55] #55 closed

[2021-06-28 13:11] murali-shris commented on #11
@BermyToiga are you still facing this issue using at_onboarding_flutter ?

[2021-06-29 19:13] TylerTrott opened #64 "Error Authenticating on IOS Simulator"
**Describe the bug**
When uploading an atKeys.zip of a prod level atsign, console throws error => |QR Scan|Uploading backup zip file throws RangeError (index): Invalid value: Only valid value is 0: 1

**To Reproduce**
Steps to reproduce the behavior:
1. First I 'Type in activated atSign into a TextField to pass atSign through Onboarding Parameter'
2. Then I 'Upload backup key .zip file'

**Expecte

[2021-06-30 18:59] BermyToiga commented on #11
I believe I am still facing this problem, I will double check one moment

[2021-06-30 19:15] BermyToiga commented on #11
Okay, looks like this error is redundant now as authentication_helper is no longer used. I haven't tried authenticating into the at_contacts_flutter example app since it was changed to use at_onboarding_flutter, but this is okay as I just haven't needed to.

[2021-07-03 05:57] Intiserahmed opened #65 "failed in processing atkey zip file Error in the onboarding widget version 2.0.0"
**Describe the bug**

When I try to pick my atkey zip file from my android phone it gives me the error in the wavi app. I also faced the same error when I used onboarding widget 2.0.0 in  demo apps

**To Reproduce**
Steps to reproduce the behavior:
1. First I '...'

2. Then I '...'
3. And then '...'
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screen

[2021-07-03 10:19] buzz commented on #65
Please stop mentioning me in this repo. Thank you

[2021-07-03 16:50] ksanty commented on #65
Hi @Intiserahmed I'm going to send you a video showing you how to put a space separator between @ and buzz.

[2021-07-03 16:51] buzz commented on #65
@ksanty Please stop mentioning my username in this repository. Thank you very much

[2021-07-06 18:50] XavierChanth commented on #65
Same issue:

[code]
It appears to start at ```/lib/screens/pair_atsign.dart``` line 272-274

[code]

Removing the typecast and changing result's type to FilePickerResult? allows the project to build, however I'm still unable to onboard. I get sent back to the upload screen.

[2021-07-07 16:09] sarika01 commented on #65
Both ".zip" and ".atKeys" extension files seem to be working fine with at_onboarding_flutter v2.1.0
@Intiserahmed Can you please check with this version?

[2021-07-07 16:10] sarika01 commented on #64
Both ".zip" and ".atKeys" extension files seem to be working fine with at_onboarding_flutter v2.1.0
@TylerTrott  Can you please check with this version?

[2021-07-07 16:29] Intiserahmed commented on #65
@sarika01 checked giving the future file picker error as @XavierChanth mentioned.

[2021-07-07 18:10] XavierChanth commented on #65
Could it be from the flutter sdk version I'm using?
[code]

I suppose that my issues come from using sdk 2.12 in pubspec.yaml:
[code]

[2021-07-07 18:12] Intiserahmed commented on #65
@XavierChanth 2.12 is for null safety... I'm afraid 2.7 doesn't support null safety.

[2021-07-07 18:13] XavierChanth commented on #65
I'm using 2.12, example is using 2.7, I get major issues when trying to use 2.7, since all the code is written to use null safety in the app.

[2021-07-12 16:03] ksanty opened #70 "Release @wavi with instant onboarding"

[2021-07-12 16:05] ksanty opened #71 "Release @buzz with instant onboarding"

[2021-07-14 17:29] XavierChanth opened #74 "App hangs trying to onboard an atsign that has been reset"
**Describe the bug**
Wavi tries to onboard the last used atsign, which hangs when the atsign is no longer activated.

**To Reproduce**
Steps to reproduce the behavior:
1. First I onboard an atsign
2. Then I reset the atsign on atsign.com
3. And then relaunch the app
4. The app is stuck loading for an unknown length of time

**Expected behavior**
An option to reset or switch the atsign to onboard.

[2021-07-16 04:35] ksanty opened #77 "Review for Missing Documentation - at_commons_flutter (API Reference)"
- [ ] Right nav bar under Documentation [API Reference](https://pub.dev/documentation/at_common_flutter/latest/) (samples and examples)
- [ ] Do we need a [link for documentation](https://pub.dev/packages/at_common_flutter)?

Please review library links as well (current, samples and examples)
[LIBRARIES](https://pub.dev/documentation/at_common_flutter/latest/)

- [ ] at_common_flutter
- [ ] colors

[2021-07-19 13:15] purnimavenkatasubbu commented on #71
Version of buzz with new onboarding is release to both playstore and app store

[2021-07-19 13:15] #71 closed

[2021-07-19 14:47] nickelskevin opened #78 "Add a Flutter widget for generic notifications"
**Is your feature request related to a problem? Please describe.**
As described in this [document](https://docs.google.com/document/d/1z8xAjqJQ3NtqYOAhhgIvQULGeF9ZL7EtwqnGSjBjiXU/edit#), there is an opportunity to provide an end-to-end encrypted, peer-to-peer, surveillance free notification service.

**Describe the solution you'd like**
The approach needs to be discussed in the architecture call.

[2021-07-21 03:20] ksanty opened #80 "Add missing documentation - at_backupkey_flutter (Scores Tab)"
[Scores tab](https://pub.dev/packages/at_backupkey_flutter/score) is missing documentation for:

- [ ] support platforms
- [ ] support sound null safety

[2021-07-21 03:24] ksanty opened #81 "Review for missing content - at_backupkey_flutter (API Reference)"
- [ ] Right nav bar [API reference](https://pub.dev/documentation/at_backupkey_flutter/latest/) needs review for missing content. (samples and examples)
- [ ] Do we need a [documentation link](https://pub.dev/packages/at_backupkey_flutter)?

Please check library links (current, samples, examples)
[LIBRARIES](https://pub.dev/documentation/at_backupkey_flutter/latest/)

- [ ] at_backupkey_flutter
-

[2021-07-22 00:42] ksanty opened #83 "Review for missing content - at_contacts_flutter (Scores Tab)"
[Scores tab](https://pub.dev/packages/at_contacts_flutter/score) missing documentation for:

- [x] provide documentation
- [ ] support multiple platforms
- [ ] support sound null safety

[2021-07-22 00:51] ksanty opened #84 "Documentation requires review - at_contacts_flutter (API Reference)"
- [ ] Right nav bar [API reference](https://pub.dev/documentation/at_contacts_flutter/latest/) requires review to ensure all content is there and nothing is missing (samples and examples)
- [ ] Do we need a [documentation link](https://pub.dev/packages/at_contacts_flutter)?

Please review each library (current, samples and examples)
[LIBRARIES](https://pub.dev/documentation/at_contacts_flutter/lat

[2021-07-22 03:11] ksanty opened #87 "Missing documentation - at_onboarding_flutter (Scores Tab)"
[Score tab](https://pub.dev/packages/at_onboarding_flutter/score) is missing documentation for:

- [x] provide documentation
- [x] support multiple platforms
- [x] pass static analysis
- [ ] support sound null safety

[2021-07-22 03:16] ksanty opened #88 "Review for missing content - at_onboarding_flutter (API Reference)"
- [ ] Right nav bar [API documentation](https://pub.dev/documentation/at_onboarding_flutter/latest/) requires documentation review (samples and examples)
- [ ] Do we need a [documentation link](https://pub.dev/packages/at_onboarding_flutter)?

Please check libraries as well (current, samples and examples)
[LIBRARIES](https://pub.dev/documentation/at_onboarding_flutter/latest/)

- [ ] app_constants

[2021-07-22 03:42] ksanty opened #90 "Missing documentation - at_location_flutter (Scores Tab)"
[Scores tab](https://pub.dev/packages/at_location_flutter/score) is missing documentation for

- [ ] provide documentation
- [ ] support multiple platforms
- [ ] support sound null safety

[2021-07-22 03:46] ksanty opened #91 "Review for missing documentation - at_location_flutter (API Reference)"
- [ ] Right nav bar [API reference ](https://pub.dev/documentation/at_location_flutter/latest/) requires review for missing content.
- [ ] Do we need a [documentation link](https://pub.dev/packages/at_location_flutter)?

Please check libraries links (current, samples and examples)
[LIBRARIES](https://pub.dev/documentation/at_location_flutter/latest/)

- [ ] anim_type
- [ ] api_service
- [ ] at_loc

[2021-07-22 04:03] ksanty opened #93 "Missing documentation - at_chat_flutter (Scores Tab)"
[Score tab](https://pub.dev/packages/at_chat_flutter/score) is missing content for:

- [ ] provide documentation
- [ ] support multiple platforms
- [ ] support sound null safety

[2021-07-22 04:12] ksanty opened #94 "Review for missing documentation - at_chat_flutter (API Reference)"
- [ ] Right nav under documentation [API reference](https://pub.dev/documentation/at_chat_flutter/latest/) requires review for any missing content (samples and examples)
- [ ] Do we need a [documentation link](https://pub.dev/packages/at_chat_flutter)?

Please check libraries links (current, samples and examples)
[LIBRARIES](https://pub.dev/documentation/at_chat_flutter/latest/)

- [ ] at_chat_flu

[2021-07-22 04:53] ksanty opened #96 "Missing documentation - at_contacts_group_flutter (Scores Tab)"
[Scores tab](https://pub.dev/packages/at_contacts_group_flutter/score) is missing documentation for:

- [ ] provide documentation
- [ ] support multiple platforms
- [ ] support sound null safety

[2021-07-22 04:59] ksanty opened #97 "Review for missing documentation - at_contacts_group_flutter (API Reference)"
- [ ] Right nav bar under documentation [API reference](https://pub.dev/documentation/at_contacts_group_flutter/latest/) link requires review for any missing documentation (samples and examples)
- [ ] Do we need a [documentation link](https://pub.dev/packages/at_contacts_group_flutter)?

Please review library links (current, samples and examples)
[LIBRARIES](https://pub.dev/documentation/at_contac

[2021-07-22 11:10] DivyaYadavareddy commented on #47
not able to replicate the issue.please provide the atkeys to reproduce the issue

[2021-07-22 11:29] sarika01 commented on #47
The issue is not atkeys specific. It can happen with any atsign. There are no definite steps to reproduce this issue.

[2021-07-23 02:04] ksanty opened #100 "Missing documentation - at_events_flutter (Scores Tab)"
[Scores tab](https://pub.dev/packages/at_events_flutter/score) is missing documentation for the following sections:

- [ ] provide documentation
- [ ] support multiple platforms
- [ ] support sound null safety

[2021-07-23 02:10] ksanty opened #101 "Review for missing documentation - at_events_flutter (API Reference)"
- [ ] Right nav bar under documentation [API reference](https://pub.dev/documentation/at_events_flutter/latest/) requires review to ensure documentation is up to date and complete (samples and examples)
- [ ] Do we need a [documentation link](https://pub.dev/packages/at_events_flutter)?

Please check libraries as well (current, samples and examples)
[LIBRARIES](https://pub.dev/documentation/at_eve

[2021-07-23 02:48] ksanty opened #102 "Missing documentation - at_follows_flutter (Scores Tab)"
[Scores tab](https://pub.dev/packages/at_follows_flutter/score) is missing documentation for the following sections:

- [ ] provide documentation
- [ ] support multiple systems
- [ ] support sound null safety

[2021-07-23 02:51] ksanty opened #103 "Review for missing documentation - at_follows_flutter (API Reference)"
- [ ] Right nav bar under documentation [API reference ](https://pub.dev/documentation/at_follows_flutter/latest/) requires review for missing or outdated content.
- [ ] Do we need a [link to documentation](https://pub.dev/packages/at_follows_flutter)?

Please check libraries too (current, samples and examples)
[LIBRARIES](https://pub.dev/documentation/at_follows_flutter/latest/)

- [ ] app_consta

[2021-07-23 14:03] purnimavenkatasubbu commented on #70
Released at_wavi with instant onboarding in both appstore and playstore

[2021-07-23 14:03] #70 closed

[2021-07-26 16:09] murali-shris opened #105 "test and release namespace changes in widgets."

[2021-07-26 16:22] murali-shris commented on #105
https://docs.google.com/presentation/d/1xpZMHa6fgri9YXMmeHYulp-4t_hoPhr-t_dTkv14sQ8/edit#slide=id.p
https://docs.google.com/document/d/1qG7BXFrrtTrwr8YWTKIOKmeELk5xk2yzclNDjPWZJHU/edit

[2021-07-28 05:26] sarika01 opened #106 "Notes widget"

[2021-07-28 05:26] sarika01 opened #107 "Analytics widget"

[2021-07-28 07:49] murali-shris commented on #11
@BermyToiga can this issue be closed ?

[2021-07-28 07:52] murali-shris commented on #65
@Intiserahmed does the issue exist with at_onboarding_flutter v2.1.0?

[2021-07-28 14:16] Intiserahmed commented on #65
@murali-shris Yeap It's working like a charm

[2021-07-28 16:36] BermyToiga commented on #11
I think so yes, will close it now.

[2021-07-28 16:36] #11 closed

[2021-07-29 05:51] DivyaYadavareddy commented on #74
In this issue I followed reproduce steps and tested app it’s working fine.
when we onboard to a primary @sign and after onboarding  I reset that @sign in atsign.com
And then I relaunch the app it is showing server unavailable or it is in loading state because we reset the primary @sign. so
Expected behaviour is to switch to another @sign by pressing reset button it will show @sign list then we Wil

[2021-07-29 06:32] sarika01 opened #108 "Chat widget - add delete functionality"
The existing chat widget library does not support delete functionality. A partial implementation to delete all messages is done in https://github.com/atsign-foundation/at_widgets/tree/feat/chat-delete
There is a need to improve it further to be able to delete individual messages.

[2021-07-29 06:33] sarika01 opened #109 "Chat widget - add support for images and emoticons"
The existing chat package only supports text messages. This is an enhancement to make the widget support images and emoticons.

[2021-07-29 06:36] sarika01 commented on #59
End to end flow is integrated. Documentation and release to pub.dev is pending.

[2021-07-29 07:13] sarika01 commented on #105
These changes have been implemented in at_contacts_flutter, at_contacts_group_flutter, at_chat_flutter, at_events_flutter and at_location_flutter.
These libraries do not use name of their own. The client preferences (namespace) are picked from the parent app.

[2021-07-29 08:57] DivyaYadavareddy commented on #56
It is working fine with at_onboarding_flutter v2.1.2 , below i attached recorded video of wavi.
Can you please check with this version?

https://user-images.githubusercontent.com/60208911/127463140-c8f71205-5841-43df-86c0-d27e514155e7.mp4

[2021-07-29 12:27] purnimavenkatasubbu opened #110 "Duplicate keys are being created after namespace migration in follows widget"
**Describe the bug**
After migrating to the new namespace code. Instead of updating the old key, Duplicate new key is being created.

**To Reproduce**
Steps to reproduce the behavior:
1. First I installed the latest playstore version of wavi app
2. Then I added atsigns to the following list and followers list
3. And then checked the keys from the terminal
data:["at_followers_of_self.wavi@ helpless

[2021-07-29 14:19] XavierChanth commented on #74
Thank you Divya , now that #56 has been resolved, I am able to reset my atsigns.

I noticed in your demo when you press "Let's go!" the loader spinner duration is much shorter than on my phone,
that is the main reason I opened this issue. Sometimes I will have to wait several minutes before I can do anything in the app.

[2021-07-29 14:25] XavierChanth commented on #74
Follow up to my comment above, in the past average time for the loading spinner was about 2-3 minutes, it is now about 1-1.5 on my iPhone. These numbers may be poor due to external factors. I don't think this issue is urgent by any means, but I do think it is important to document it.

[2021-07-29 14:26] XavierChanth commented on #56
I can confirm this issue is resolved on my end.

[2021-07-29 14:58] athandle opened #111 "Add a space after @sign"

[2021-07-29 14:59] athandle commented on #111
![image](https://user-images.githubusercontent.com/61007675/127515589-c65ce01c-752b-40a8-9107-4d6bdea4773c.png)

[2021-07-30 09:21] DivyaYadavareddy commented on #111
This issue is fixed now but we will release it in next build. below attached screenshot
![Simulator Screen Shot - iPhone 8 Plus - 2021-07-30 at 10 58 54](https://user-images.githubusercontent.com/60208911/127631721-660fa0c3-71a7-4626-a680-3ee0c06d924b.png)

[2021-08-02 09:48] cpswan commented on #53
Waiting on pushes to pub.dev by @sarika01 for the changes in #44 to take effect

[2021-08-03 11:28] DivyaYadavareddy commented on #110
The issue was because of the sdk refactoring changes being included along with the namespace changes. I have created a separate branch with only namespace changes compatible to trunk.Now the issue is fixed.

[2021-08-03 11:41] purnimavenkatasubbu commented on #110
Tested the bug fix in the branch "namespace_changes_without_sdkrefactoring". Now the old key is being migrated to the new key format as expected.

**Testing Notes:**

1.  Installed the current version of the play store app and added some atsigns to the following and followers list(Both following and followers list as public)
2.  Checked the key format by connecting to the terminal

at_followers_of

[2021-08-03 11:42] #110 closed

[2021-08-03 11:53] purnimavenkatasubbu commented on #105
Testing Notes:

- [x] **at_follows_flutter :**

1. Installed the current version of the play store app and added some atsigns to the following and followers list(Both following and followers list as public)
2. Checked the key format by connecting to the terminal
at_followers_of_self.wavi@ bluegreen129slow","at_following_by_self.wavi@ bluegreen129slow"
3. Now changed the pubspec.yaml to point to th

[2021-08-03 12:18] #56 closed

[2021-08-05 03:33] ksanty opened #119 "Update Readme - at_common_flutter"
Review [at_common_flutter](https://pub.dev/packages/at_common_flutter) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 03:58] ksanty opened #120 "Update Readme - at_backupkey_flutter"
Review [at_backupkey_flutter](https://pub.dev/packages/at_backupkey_flutter) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 04:02] ksanty opened #121 "Update Readme - at_contacts_flutter"
Review [at_contacts_flutter](https://pub.dev/packages/at_contacts_flutter) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 04:06] ksanty opened #122 "Update Readme - at_onboarding_flutter"
Review [at_onboarding_flutter](https://pub.dev/packages/at_onboarding_flutter) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 04:08] ksanty opened #123 "Update Readme - at_location_flutter"
Review [at_location_flutter](https://pub.dev/packages/at_location_flutter) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 04:10] ksanty opened #124 "Update Readme - at_chat_flutter"
Review [at_chat_flutter ](https://pub.dev/packages/at_chat_flutter)readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 04:13] ksanty opened #125 "Update Readme - at_contacts_group_flutter"
Review [at_contacts_group_flutter](https://pub.dev/packages/at_contacts_group_flutter) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 04:17] ksanty opened #126 "Update Readme - at_events_flutter"
Review [at_events_flutter](https://pub.dev/packages/at_events_flutter) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 04:22] ksanty opened #127 "Update Readme - at_follows_flutter"
Review [at_follows_flutter ](https://pub.dev/packages/at_follows_flutter) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 11:48] DivyaYadavareddy commented on #74
@XavierChanth can this issue be closed?

[2021-08-05 12:14] purnimavenkatasubbu opened #128 "Followers list gets updated only after restarting the app"
**Describe the bug**
Whenever an atsign follows my atsign, I get the notification immediately but the followers list gets updated only after I restart the app.

**To Reproduce**
Steps to reproduce the behavior:
1. First I Logged in to the wavi app as atsign A and atsignB
2. Then I Followed atsign A from atsign B
3. And then I received the notification in atsign A

**Expected behavior**
Followers l

[2021-08-05 16:27] xavierchanth commented on #74
Yes, I think the issue is gone, I wasn't able to reproduce it again.

[2021-08-05 16:27] #74 closed

[2021-08-06 05:45] DivyaYadavareddy commented on #128
fixed this issue in at_follows_flutter - namespace_changes.Attached screen recording of wavi

https://user-images.githubusercontent.com/60208911/128462151-6179ec73-301b-4e0a-8e3b-bade0f69e3a1.mp4

[2021-08-06 16:56] cpswan commented on #106
@sarika01 can you please provide a fuller description of this in order to help scope the work for sprint planning

[2021-08-06 16:57] cpswan commented on #107
@sarika01 and this one... I'll stop here, but please have a comb through the project board and make sure that it's providing a complete picture.

[2021-08-08 19:16] JasperDanC opened #130 "Atsign Generator of at_onboarding_flutter (version 2.1.2) not working in @Vento"
**Describe the bug**
When generating a new @sign in the onboarding method of the @Vento app. After generating a new @sign and sending  and filling in a verification code to an email that does not have any @signs associated with it a blank white screen is reached.

After restarting the app using the @sign that I just generated results in a new verification code being sent and then filling that code

[2021-08-09 06:14] purnimavenkatasubbu commented on #128
Now the followers list gets updated automatically.

[2021-08-09 06:14] #128 closed, assigned to DivyaYadavareddy

[2021-08-09 07:56] sarika01 commented on #59
First version is published to pub.dev: https://pub.dev/packages/at_invitation_flutter

[2021-08-09 12:04] murali-shris commented on #105
at_follows_flutter 2.0.3 published

[2021-08-09 12:04] #105 closed

[2021-08-09 13:26] #23 closed

[2021-08-09 14:51] xavierchanth opened #134 "Publish at_app cli tool"
The current atsign.dev sprint depends on this being completed.

[2021-08-09 15:37] #53 closed

[2021-08-09 15:44] tinashe404 commented on #65
Closing this on your behalf @Intiserahmed

[2021-08-09 15:44] #65 closed

[2021-08-09 15:53] XavierChanth commented on #47
Related to #74 ?

[2021-08-09 19:41] JasperDanC commented on #130
I would like to add to this. Anytime the app tries to activate a new @sign  for example an @sign generated through atsgin.com where the QR code is generated. Instead of opening the QR code scanner the app will send a verification code to the email that the @sign was generated with and upon entering the verification code the same blank screen is reached.

Seems as though only pre-activated @signs a

[2021-08-10 10:33] buzz commented on #105
Please stop mentioning me in this issue. Thank you very much

[2021-08-10 19:31] cconstab opened #138 "Add QRCode activation of @sign back into the at_onboarding_flutter widget"
We lost the ability to scan a QRCode in the widget which means Wavi/Other apps cannot be activated..

- [x] Add functionality to Widget
- [x] Test Widget
- [x] Add to apps
- [x] wavi
- [ ] buzz
- [ ] @ mosphere's
- [x] ChitChat
- [ ] Others ?

[2021-08-10 23:07] JasperDanC opened #139 "Invalid Type Cast in at_onboarding_flutter"
**Describe the bug**
Invalid Type cast occurs on line 101 of pair_atsign.dart
https://github.com/atsign-foundation/at_widgets/blob/44c5fd80f36822ea1a99d3dfbf794654676daab9/at_onboarding_flutter/lib/screens/pair_atsign.dart#L101

When this line is reached an exception is hit and there is no exception handling for an invalid type cast so then
nothing happens and the app is stuck on a blank screen.

[2021-08-11 04:50] purnimavenkatasubbu opened #141 "Add QR code scanning feature in the onboarding widget"

[2021-08-11 04:52] purnimavenkatasubbu commented on #141
Duplicate of issue #138.

[2021-08-11 04:52] #141 closed, assigned to nobody

[2021-08-11 18:29] tinashe404 opened #144 "Onboarding widget - atsigns with caps or a space after aren't recognized"
**Describe the bug**
When trying to activate atsigns, such as names like ```@colin``` android phones will auto-capitalize the C. These atsigns will come up as invalid because of the capital letter. If the atsign has an emoji eg ```@colin💙```, android phones put a space after the emoji and this will make the atsign come up as invalid.

**To Reproduce**
Steps to reproduce the behavior:
1. Register a

[2021-08-11 20:48] cconstab opened #145 "at_onboarding_flutter refectoring"

[2021-08-12 04:00] sarika01 opened #146 "at_onboarding widget blocks user on scanner screen"
Once on the scanner screen, there is way to cancel or go back to the previous screen.

[2021-08-12 10:48] DivyaYadavareddy commented on #138
Added QR code scanning feature in the onboarding widget and and @purnima tested it. After testing, we released it in pub.dev with version at_onboarding_flutter: ^2.1.3  and added it to wavi and published wavi to play store with version(0.15.2+38) and App Store with version(1.3.2)

[2021-08-12 13:52] #134 closed, assigned to nickelskevin, xavierchanth

[2021-08-16 06:51] sarika01 opened #150 "Switch themes for packages"
The Flutter widgets provided through pub.dev should have the ability to switch themes between light and dark, controlled by the implementing app.

[2021-08-16 06:54] sarika01 commented on #150
- [ ] at_chat_flutter
- [ ] at_common_flutter
- [ ] at_contacts_flutter
- [ ] at_contacts_group_flutter
- [ ] at_events_flutter
- [ ] at_follows_flutter
- [ ] at_location_flutter
- [ ] at_onboarding_flutter
- [ ] at_backupkey_flutter

[2021-08-16 12:58] sarika01 commented on #119
The change is done. It will reflect in the next version of the package on pub.dev when published.

[2021-08-16 12:59] sarika01 commented on #121
The change is done. It will reflect in the next version of the package on pub.dev when published.

[2021-08-16 13:00] sarika01 commented on #123
The change is done. It will reflect in the next version of the package on pub.dev when published.

[2021-08-16 13:02] sarika01 commented on #124
This change is not required as the version information is not present in the README.

[2021-08-16 13:02] sarika01 commented on #125
The change is done. It will reflect in the next version of the package on pub.dev when published.

[2021-08-16 13:02] sarika01 commented on #126
The change is done. It will reflect in the next version of the package on pub.dev when published.

[2021-08-17 17:33] tinashe404 opened #155 "Onboarding Widget - Can't access internal storage on android"
**Describe the bug**
When trying to save or upload atkeys on an android device, people can no longer access their internal storage. They only get the drive, email accounts and other apps as options.

**To Reproduce**
Steps to reproduce the behavior:
1. On an android device, activate a new atsign and when it asks you to save your keys you will see that internal storage isn't available as a default

[2021-08-18 15:47] tinashe404 opened #156 "Onboarding Widget - Not handling "server unreachable" case correctly"
**Describe the bug**
If a secondary server is unreachable/unusable and it has previously been paired with a specific device, when you try to pair it again the screen will display the spinning icon for a while and then the person will receive a verification code in their email.

It seems this is because the pair attempt times out and the system defaults to sending a QR code after receiving a 503 re

[2021-08-18 22:18] tinashe404 opened #157 "Onboarding widget - No way to leave the OTP screen"
**Describe the bug**
If you are activating an atsign using the onboarding widget, when you go to the verification screen there is no way to leave this screen and go back to the previous one. Someone might want to do this if the verification code didn't get sent or if they change their mind on which atsign to use.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate an atsign
2. Open the

[2021-08-19 10:16] Rajasekhar695 commented on #146
@sarika01 Fixed and tested the issue, below attached recorded video.

[2021-08-20 10:07] Rajasekhar695 commented on #157
Fixed and tested, it's working fine. will release it in pub dev with new version.
Below attached recorded video.

https://user-images.githubusercontent.com/60208690/130217651-b76bd814-cc40-477f-80c1-2f4f56cbf90e.mp4

[2021-08-23 09:29] sarika01 commented on #108
Delete functionality is added but doesn't work with handling images. Needs some more work.

[2021-08-23 09:30] sarika01 commented on #109
This is done. Needs publishing.

[2021-08-23 10:30] sarika01 commented on #119
Change is showing up in the published version.

[2021-08-23 10:30] #119 closed, assigned to sarika01

[2021-08-23 11:51] sarika01 commented on #121
Change is reflecting in the latest published version.

[2021-08-23 11:51] #121 closed, assigned to sarika01

[2021-08-23 11:52] sarika01 commented on #123
Change is reflecting in the latest published version.

[2021-08-23 11:52] #123 closed, assigned to sarika01

[2021-08-23 11:53] #124 closed, assigned to sarika01

[2021-08-23 11:54] sarika01 commented on #125
Change is reflecting in the latest published version.

[2021-08-23 11:54] #125 closed, assigned to sarika01

[2021-08-23 11:56] sarika01 commented on #126
Change is reflecting in the latest published version.

[2021-08-23 11:56] #126 closed, assigned to sarika01

[2021-08-23 14:48] tinashe404 opened #161 "Onboarding Widget - unable to activate staging atsigns"
**Describe the bug**
When running atmosphere or atmosphere pro locally, I tried activating atsigns in staging and did not receive any of the emails with the verification codes. Sarika says she has faced the same issue while testing on staging.

**To Reproduce**
Steps to reproduce the behavior:
1. Build and run atmosphere or atmosphere pro using the trunk branch (this points to staging)
2. Attempt

[2021-08-23 15:18] xavierchanth opened #162 "Create unit tests for at_app & at_app_flutter"
at_app_flutter
- [x] AtContext
- [x] AtEnv

at_app
- [x] Pub Cache
- Other tests to be determined

[2021-08-23 15:39] xavierchanth commented on #162
at_app is partially system dependent, making it difficult to have total test coverage.

[2021-08-24 13:36] murali-shris commented on #161
@sarika01 please add the exact error you faced

[2021-08-24 16:40] xavierchanth commented on #162
I think at_app coverage is good enough for now, it includes tests for the parts causing issues based on flutter installation method.
at_app_flutter is done and merged.

[2021-08-24 16:40] #162 closed, assigned to xavierchanth

[2021-08-25 05:35] #144 closed, assigned to DivyaYadavareddy

[2021-08-25 09:32] DivyaYadavareddy commented on #47
@sarika01 can you please check this issue is related to #74 ? there is reset button to remove an atsign so i think there is no need to add another button.
If the isue is not with this can you please tell me which added feature you are expecting?

[2021-08-25 10:57] sarika01 commented on #74
@DivyaYadavareddy I think the reset button shown above is in the wavi app and not on the at_onboarding_flutter widget. With the latest version 2.1.3 of the onboarding package on pub.dev, I am getting this screen with no reset button.
![Simulator Screen Shot - iPhone 8 - 2021-08-25 at 16 20 32](https://user-images.githubusercontent.com/12222326/130778630-bce6528e-ea24-48dc-9fed-2ec9eb5ad059.png)

[2021-08-25 11:09] sarika01 commented on #47
@DivyaYadavareddy I think the reset button shown above is in the wavi app and not on the at_onboarding_flutter widget. With the latest version 2.1.3 of the onboarding package on pub.dev, I am getting this screen with no reset button.

![Simulator Screen Shot - iPhone 8 - 2021-08-25 at 16 20 32](https://user-images.githubusercontent.com/12222326/130780323-308ac72a-72cc-46e4-a177-5226d4e36976.png)

[2021-08-25 11:29] sarika01 commented on #161
I have reset and activated an atsign (@ 2418permanent) on staging.

<img width="1180" alt="Screenshot 2021-08-25 at 4 46 28 PM" src="https://user-images.githubusercontent.com/12222326/130782805-6e555cc0-70bf-42bd-b6fc-18be1b098d7a.png">

Upon trying to onboard it, I am getting this issue:

https://user-images.githubusercontent.com/12222326/130782876-6e9e9e28-2ec8-41e6-ad8e-db88a392af1e.mov

No err

[2021-08-25 11:34] sarika01 commented on #161
Secondly, I tried to get a new atsign. Even though I received the OTP, the activation spinner just went on and on:

https://user-images.githubusercontent.com/12222326/130783528-db615598-2d6d-42fd-8f28-0288bb81f5e6.mov

And observed this issue in the app log:

<img width="1324" alt="Screenshot 2021-08-25 at 4 56 12 PM" src="https://user-images.githubusercontent.com/12222326/130783622-4242e75e-ee3b-

[2021-08-25 11:46] sarika01 opened #165 "Onboarding widget - shows deleted atsigns in staging"
**Describe the bug**
When a new atsign is requested, the onboarding widget shows a list of existing atsigns. On staging, this is showing a list of old deleted atsigns which are no longer available on the website dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. Using onboarding widget, get a free atsign.
2. The widget prompts to pair an email and sends OTP for verification
3. On ent

[2021-08-25 11:51] sarika01 commented on #165
Also, on clicking the old deleted atsign, I got an email of purchase.

<img width="605" alt="Screenshot 2021-08-25 at 5 19 21 PM" src="https://user-images.githubusercontent.com/12222326/130785552-cb35e8ea-ad19-4405-823b-af7b42f0cc56.png">

And after this, the atsign does not show up on the website dashboard.

[2021-08-25 13:37] athandle commented on #165
@sarika01 You are using API of dev and website of stage. Please check on same platforms

[2021-08-25 13:48] sarika01 commented on #165
@athandle What is the address of the website dashboard for dev?

[2021-08-25 14:19] yahu1031 commented on #161
Hey @sarika01, How about setting up your `rootDomain` to staging
[code]
By default, it will be `root.atsign.org` in [`at_server_status`](https://pub.dev/packages/at_server_status).
please provide info about this. 😺

[2021-08-25 14:20] athandle commented on #165
https://my.atsign.wtf/

[2021-08-25 15:20] sarika01 commented on #165
@athandle The current onboarding widget uses this code to determine endpoint:
[code]

[2021-08-25 15:47] sarika01 commented on #165
How can we differentiate between dev and staging?

[2021-08-25 16:04] athandle commented on #165
Just use dev for testing don't use staging

[2021-08-26 09:30] sarika01 commented on #165
Closing this issue with conclusion that free atsigns on staging environment are not supported from app side.

[2021-08-26 09:30] #165 closed, assigned to DivyaYadavareddy, athandle

[2021-08-27 04:05] yahu1031 commented on #139
@JasperDanC yes, we have a lot more unwanted Type Casting, please wait till the new stable version gets released or add the git URL as a dependency.

[2021-08-27 07:54] yahu1031 opened #167 "Add Staging support for Onboarding widget"
### Is your feature request related to a problem? Please describe. ###
Make the APIKey and RootDoamin optional in the Onboarding widget. So users don't need to get a new one when he/she is working on demos/staging.

### Describe the solution you'd like ###
If the user works on dev mode(debug/profile), let the user use the demo/staging root domain(***`root.atsign.wtf`***) and the testing API Key(ma

[2021-09-02 08:02] purnimavenkatasubbu opened #179 "Null Check operator used on a null value Error"
**Describe the bug**
Null check operator used on a null value error is thrown while onboarding

**To Reproduce**
Steps to reproduce the behavior:

1.  Install the wavi app
2.  Click on the generate free atsigns
3. Enter the email and OTP

**Expected behavior**
The error message should not be displayed in the logs

**Screenshots**
INFO|2021-09-02 13:00:33.619859|KeyChainUtil|atsignMap: {}
E/flutter

[2021-09-02 08:55] purnimavenkatasubbu opened #180 "RSDK: Scanning the QR code throws unauthenticated Exception, But the atsign is being paired in the app"
**Describe the bug**
While scanning QR code, The app throws an error as an Unauthenticated exception in the logs. But once the app is restarted the atsign is paired.

**To Reproduce**
Steps to reproduce the behavior:
1. First I Generate a free atsign from the dashboard
2. Then Install the wavi app, And scan the QR code

**Expected behavior**
Atsign should be authenticated successfully

**Screensho

[2021-09-07 05:07] purnimavenkatasubbu commented on #179
Tested as part of this PR.
https://github.com/atsign-foundation/at_widgets/pull/182

I don't see the exception in the logs

I/flutter ( 2815): {atsigns: [Caps, comfortabletabletennis, violetred7ready, emotionalbluebell, vicariouspuzzles, airsoftinvolved], newAtsign: 7anteaterugly3}
I/flutter ( 2815): INFO|2021-09-03 11:15:07.489508|KeyChainUtil|atsignMap: {}
I/ViewRootImpl@f982dd4MainActivity: Vie

[2021-09-07 05:23] purnimavenkatasubbu commented on #180
Re-tested this bug with the latest trunk branch. The issue is not being reproduced. Hence closing the issue

https://user-images.githubusercontent.com/43639593/132288642-37a26886-6c00-447d-8c15-d1faee5969c4.mp4

[2021-09-07 05:23] #180 closed, assigned to sitaram-kalluri, purnimavenkatasubbu

[2021-09-07 05:43] #179 closed, assigned to sitaram-kalluri, yahu1031

[2021-09-07 09:48] sarika01 commented on #106
Needs to be tested and published.

[2021-09-07 09:50] sarika01 commented on #107
Needs to be tested with rSDK and published.

[2021-09-07 09:51] sarika01 commented on #78
Needs to be tested with rSDK and published.

[2021-09-07 09:52] sarika01 commented on #150
Each package needs to be tested and published.

[2021-09-07 09:58] sarika01 opened #185 "Add a theme switching widget - at_theme_flutter"
This widget can be used to select light and dark theme along with the primary colour. This can be used in apps to help in switching the overall theme os the app.

[2021-09-07 15:21] #138 closed, assigned to nickelskevin, cconstab, sarika01, xavierchanth

[2021-09-07 15:27] nickelskevin opened #186 "Create a new Sync Widget"
Lead: @sonle-geekyants

**Is your feature request related to a problem? Please describe.**
Now that we use a progressive sync strategy, we should provide a widget that tracks progress and provides a UI component that provides feedback to the person using the app.

**Describe the solution you'd like**
For more details - see [this document](https://docs.google.com/document/d/1YlKBYHh4RQ8LeCeuQbHwJ0w

[2021-09-07 17:20] ksanty commented on #108
@sarika01 is this the one we need to tag Gafei on?

[2021-09-07 17:20] ksanty commented on #109
@sarika01 is this the one we need to tag Gafei on?

[2021-09-08 13:41] yahu1031 commented on #139
Fixed with #178

[2021-09-08 13:41] #139 closed, assigned to yahu1031

[2021-09-08 14:11] sarika01 commented on #108
Yes @ksanty

[2021-09-09 07:57] yahu1031 commented on #161
@sarika01 For some reason, we cannot reproduce it. Please let us know if it still occurs. If not we will be closing this.

[2021-09-14 12:06] yahu1031 commented on #161
@sarika01 Please reopen if the issue still persists. Closing as of now

[2021-09-16 06:32] sachins-geekyants opened #191 "getting ResponseTimeOutException in wavi on followers screen"
**Describe the bug**
In @ wavi if we have more following and followers counts , we are getting server response time out everytime.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow 20+ atsigns
2. open @ wavi and go to followers and following screen
3. On this screen loader keeps spinning for long time and give server response time out message.

**Expected behavior**
Followers / followin

[2021-09-16 12:24] sachins-geekyants opened #192 "Can't onboard when app is running in release mode"
**Describe the bug**
I am running @ wavi.ng app in release mode and I am not able to login with any atsign.
It immediately gets a dialog saying "your @ sign is not registered yet."

**To Reproduce**
Steps to reproduce the behavior:
1. run [at_wavi](https://github.com/atsign-company/at_wavi_app/tree/trunk) in release mode with prod server.
`flutter run --release`
2. go to onboarding screen and type

[2021-09-16 16:17] sachins-geekyants commented on #192
This is resolved , had to mention network in manifest.xml

[2021-09-16 16:17] #192 closed, assigned to sachins-geekyants

[2021-09-17 07:45] sarika01 commented on #161
Tested with the current code on trunk branch today. This issue still exists. There is no error message shown as in the video above and no errors in the app log.
Steps to reproduce:
1. Reset an existing atsign or purchase a new one. Activate it.
2. Run the example app in at_onboarding_flutter package.
3. This screen is shown
![Simulator Screen Shot - iPhone 8 - 2021-09-17 at 13 14 34](https://user-

[2021-09-17 10:08] yahu1031 commented on #161
Even I have tried it and it is reproducible. And when I try **resend the code**, It says the atsign is invalid.

<!-- As we have observed that [Old staging server](https://my.staging.atsign.wtf) wasn't working, and all the latest changes take place in [New staging server](https://my.atsign.wtf), We are closing this issue. Reopen it if it continues the same with [new staging server](https://my.atsi

[2021-09-17 10:34] yahu1031 commented on #161
As we have observed that [Staging server](https://my.staging.atsign.wtf) wasn't being used by any of the apps, and all the latest changes take place in [Dev server](https://my.atsign.wtf), We are closing this issue. Reopen it if it continues the same with [Dev server](https://my.atsign.wtf)

[2021-09-17 13:00] #161 closed, assigned to yahu1031, DivyaYadavareddy

[2021-09-20 10:22] sarika01 commented on #106
The design can be improved. Moving this to backlog as not on immediate priority.

[2021-09-21 10:41] Rajasekhar695 commented on #191
@sachins-geekyants Tested this issue with latest store version, it's working fine, can you also retest it with latest store version and tell still getting same or not?

[2021-09-21 10:47] sachins-geekyants commented on #191
@Rajasekhar695 It's still showing same for me.

[2021-09-21 12:47] Rajasekhar695 commented on #191
@sachins-geekyants can you send that atsign at_keys.zip file so that i can reproduce it from my side.
mail id: rajasekharkttpll45@gmail.com

[2021-09-21 17:56] yahu1031 commented on #155
@tinashe404 can you please re-check all the options and let me know if it has **copy to** option.

[2021-09-22 11:22] sachins-geekyants commented on #191
while using wavi.ng , when we have more follows data. we are getting this exception.
I was using @ minorgettingplayed7 on prod server.

![Screenshot 2021-09-22 at 11 05 29 AM](https://user-images.githubusercontent.com/74917871/134334036-6346b47a-c19a-4030-bc21-d1a8edfb9b4b.png)

[2021-09-22 11:36] Rajasekhar695 commented on #191
@sachins-geekyants  Tested issue with 3 atsigns all 3 having more than 20 following, out of them it was is working fine with testing atsigns but not with blindtahugejrot atsign. so it is atsign specific issue. below i attached screen recording.

https://user-images.githubusercontent.com/60208690/134336045-7d754300-ea63-451c-910c-4bdf9ee8679b.mp4

[2021-09-27 15:08] tinashe404 opened #201 "Wavi - Onboarding - Scan QR Code not working"
**Describe the bug**
I tried to activate a new atsign ```@32clever68``` from the dashboard at around 8:37 PT on sept 27th. Once the QR code had been generated, I used the current version of wavi (from testflight) and tried the "Scan QR code" option. I scanned the QR Code and the screen was spinning for over 10 minutes until I cancelled the process.

**To Reproduce**
Steps to reproduce the behavior

[2021-09-28 07:01] purnimavenkatasubbu opened #202 "Data is being lost in the second atsign, When the primary atsign is removed in the wavi app"
**Describe the bug**
When there are 2 atsigns in wavi, whenever the primary atsign is deleted . The data in the second atsign is lost

**To Reproduce**
Steps to reproduce the behavior:
1. First Add 2 atsigns and add some data in both the atsigns in the wavi app
2. Then delete the primary atsign from the app
3. And check the data in the second atsign

**Expected behavior**
Data should be displayed

[2021-09-28 14:36] tinashe404 commented on #155
update, there is no copy-to option in the current app verison

[2021-09-29 08:00] #108 closed

[2021-09-29 19:02] xavierchanth opened #203 "at_chat_flutter - Messages don't display immediately on the client when sent"
**Describe the bug**
When you send a message, the message is not added to the chat screen (list of previous messages) until some form of update is triggered on that list, either by reopening the chat or receiving a message from that person (as show in video below).

**To Reproduce**
Steps to reproduce the behavior:
1. First I sent a message from phone 1 to phone 2 using [chit_chat](https://github.

[2021-09-30 10:16] sarika01 commented on #203
Fixed in the new release 3.0.1

[2021-09-30 13:27] xavierchanth commented on #203
Tested 3.0.1 and looks good

[2021-09-30 13:27] #203 closed, assigned to sarika01, xavierchanth, DivyaYadavareddy

[2021-09-30 14:24] sarika01 commented on #108
Latest version (3.0.1) published on pub.dev reflect the changes.

[2021-09-30 14:24] sarika01 commented on #109
Latest version (3.0.1) published on pub.dev reflect the changes.

[2021-09-30 14:24] #109 closed

[2021-10-04 16:58] sarika01 commented on #150
Moving to backlog to give priority to other P1 issues.

[2021-10-05 06:12] purnimavenkatasubbu commented on #202
Tested with branch git-202. Data is being displayed properly even after deleting the primary atsign.

https://user-images.githubusercontent.com/43639593/135969956-ea15dc4d-f7e7-4c71-8716-c1e64debd027.mp4

[2021-10-05 09:32] #202 closed, assigned to sitaram-kalluri, purnimavenkatasubbu, Rajasekhar695, DivyaYadavareddy

[2021-10-07 07:51] yahu1031 opened #210 "Profile display picture mismatch."
**Describe the bug**
atsigns PDP(**Profile Display Pictures**) are not showing their own PDPs.

**To Reproduce**
Steps to reproduce the behavior:
1. Install arrive app
2. Login with any production atsign.
3. Create an event and select people from contacts.
4. While selecting try adding new contacts.
5. (OR) while editing the event try adding more contacts, at that time try adding new contacts.

**

[2021-10-07 08:22] yahu1031 opened #212 "Old invitees were replaced by new invitees and throws RangeError."
**Describe the bug**
Already selected contacts were being cleared and newly selected contacts were being added(replaced) in selected contacts.

**To Reproduce**
Steps to reproduce the behavior:
1. Open arrive app.
2. Create an event and invite someone(**User X**, **User Y**).
3. Now edit the invite and invite another contact(**User Z**).
4. This (**User X**, **User Y**) will be replaced with **Use

[2021-10-07 14:26] yahu1031 opened #215 "RangeError on removing invitees from the event invitation."
**Describe the bug**
Removing contacts/invitees from the invited event throws RangeError and also doesn't update the UI till the next contacts from the removing contacts also deleted. More info in Additional info

**To Reproduce**
Steps to reproduce the behavior:
1. Log in to arrive and create an even with 4 or more contacts(4 in my case).
2. Try removing at least one from the list.

**Expected be

[2021-10-07 16:18] TylerTrott opened #216 "at_chat_flutter -- Migrate from package:pedantic to package:lints"
Describe the solution you'd like:

Per the guidance from dart-lang/lints:

in pubspec.yaml:

-  pedantic: ^1.11.0
+  lints: ^1.0.1

-include: package:pedantic/pubspec.yaml
+include: package:lints/pubspec.yaml

[2021-10-07 16:20] TylerTrott opened #217 "at_common_flutter -- Migrate from package:pedantic to package:lints"
Describe the solution you'd like:

Per the guidance from dart-lang/lints:

in pubspec.yaml:

-  pedantic: ^1.11.0
+  lints: ^1.0.1

-include: package:pedantic/pubspec.yaml
+include: package:lints/pubspec.yaml

[2021-10-07 16:21] TylerTrott opened #218 "at_contacts_flutter -- Migrate from package:pedantic to package:lints"
Describe the solution you'd like:

Per the guidance from dart-lang/lints:

in pubspec.yaml:

-  pedantic: ^1.11.0
+  lints: ^1.0.1

-include: package:pedantic/pubspec.yaml
+include: package:lints/pubspec.yaml

[2021-10-07 16:22] TylerTrott opened #219 "at_contacts_group_flutter -- Migrate from package:pedantic to package:lints"
Describe the solution you'd like:

Per the guidance from dart-lang/lints:

in pubspec.yaml:

-  pedantic: ^1.11.0
+  lints: ^1.0.1

-include: package:pedantic/pubspec.yaml
+include: package:lints/pubspec.yaml

[2021-10-07 16:24] TylerTrott opened #220 "at_events_flutter -- Migrate from package:pedantic to package:lints"
Describe the solution you'd like:

Per the guidance from dart-lang/lints:

in pubspec.yaml:

-  pedantic: ^1.11.0
+  lints: ^1.0.1

-include: package:pedantic/pubspec.yaml
+include: package:lints/pubspec.yaml

[2021-10-07 16:26] TylerTrott opened #221 "at_invitation_flutter -- Migrate from package:pedantic to package:lints"
Describe the solution you'd like:

Per the guidance from dart-lang/lints:

in pubspec.yaml:

-  pedantic: ^1.11.0
+  lints: ^1.0.1

-include: package:pedantic/pubspec.yaml
+include: package:lints/pubspec.yaml

[2021-10-07 16:27] TylerTrott opened #222 "at_location_flutter -- Migrate from package:pedantic to package:lints"
Describe the solution you'd like:

Per the guidance from dart-lang/lints:

in pubspec.yaml:

-  pedantic: ^1.11.0
+  lints: ^1.0.1

-include: package:pedantic/pubspec.yaml
+include: package:lints/pubspec.yaml

[2021-10-07 17:03] TylerTrott opened #223 "atsign_authentication_helper -- Migrate from package:pedantic to package:lints"
Describe the solution you'd like:

Per the guidance from [dart-lang/lints](https://github.com/dart-lang/lints#migrating-from-packagepedantic):

in ```analysis_options.yaml```:

[code]

[2021-10-07 17:31] dNhunter3107 commented on #223
I would like to contribute

[2021-10-07 17:34] TylerTrott commented on #223
Awesome! I will assign this issue to you

[2021-10-07 19:54] AlgyJr commented on #216
@TylerTrott I'd like to be assigned this issue!

[2021-10-07 20:04] TylerTrott commented on #216
Hi there! Seems like someone else has actually beat you to it! My apologies, will close issue after approving and merging PR.

[2021-10-07 20:08] AlgyJr commented on #217
Hi! I'd like to be assigned this issue!

[2021-10-07 20:26] ksanty commented on #217
Welcome @Algy-Jr12

[2021-10-07 20:32] TylerTrott commented on #217
Hey @Algy-Jr12, if you look in a couple other of our repos, you should find this same issue! Feel free to pop a comment into one of those repos and I'll assign you and then you can raise a PR.

[2021-10-07 20:46] lkmandy commented on #222
I will like to work on this issue.

[2021-10-07 23:14] ksanty commented on #222
Great!  You're on the issue now @lkmandy.  :)

[2021-10-08 04:18] charannnreddy commented on #201
Fixed the issue and published latest onboarding package to the pub dev(v3.0.3)
Pr : https://github.com/atsign-foundation/at_widgets/pull/213

[2021-10-08 05:23] sachins-geekyants commented on #212
@yahu1031 for the issue where previously added contacts were removed upon adding new contact is fixed.

[2021-10-08 05:24] sachins-geekyants commented on #212
for range error we have a separate issue #215 .
Please verify and close it , If you can not re produce contact selection issue.

[2021-10-08 05:28] sachins-geekyants commented on #210
we have added a fix for it , please verify.

[2021-10-08 05:45] yahu1031 commented on #212
Yes, this issue wasn't able to reproduce. Closing this.

[2021-10-08 05:45] #212 closed, assigned to sachins-geekyants

[2021-10-08 08:36] #217 closed, assigned to AlgyJr

[2021-10-08 08:37] cpswan commented on #218
Closed by #225

[2021-10-08 10:20] lkmandy commented on #221
Good day, I will like to work on this issue.

[2021-10-08 10:49] #222 closed, assigned to lkmandy

[2021-10-08 10:51] AnirbanBall commented on #220
I want to contribute

[2021-10-08 10:56] cpswan commented on #220
Thanks @AnirbanBall you're assigned.

@yahu1031 can you please offer your usual guidance on correct form for Flutter lints (or point @AnirbanBall at some of the similar PRs that have already been approved an merged).

[2021-10-08 12:05] Perpetual-Incantation commented on #219
please assign this to me.

[2021-10-08 12:10] cpswan commented on #219
Done. @Perpetual-Incantation please take a look at some of the recently merged PRs in this repo for examples of what's needed (as this is a Flutter project rather than plain Dart).

[2021-10-08 12:21] baratanurag commented on #218
I want to contribute

[2021-10-08 13:47] cpswan commented on #219
Closed by #229

[2021-10-08 13:47] #219 closed, assigned to Perpetual-Incantation

[2021-10-08 13:50] cpswan commented on #218
Thanks @baratanurag, you're assigned. Please take a look at some of the similar recently merged PRs, as this is a Flutter repo, not plain Dart.

[2021-10-08 14:19] cpswan commented on #218
Closed by #230

[2021-10-08 14:19] #218 closed, assigned to baratanurag

[2021-10-08 17:27] TylerTrott opened #231 "ReadMe.md -- Add current build/workflow status with badge"
A status badge shows whether a workflow is currently failing or passing.

A common place to add a status badge is in the ```README.md``` at the top alongside the GitHub License.

[code]

[2021-10-08 18:00] ArunPrasath5315 commented on #231
may i work on this

[2021-10-08 18:45] #223 closed, assigned to dNhunter3107

[2021-10-08 18:47] #220 closed, assigned to AnirbanBall

[2021-10-08 19:16] TylerTrott commented on #231
Of course, will assign you.

[2021-10-09 09:34] #221 closed, assigned to lkmandy

[2021-10-11 13:41] nitesh2599 commented on #215
@yahu1031 Have added a fix for this, the updated code for events package is currently in https://github.com/atsign-foundation/at_widgets/tree/feat/event-edit-fix.

Can you please test this and let me know if you still face it ?

[2021-10-11 14:15] yahu1031 commented on #215
Hey @nitesh2599, Now that issue was resolved but when I want to save after the edit(removing some contacts from the invite list) I get this toast. No logs were traced regarding this. The only thing related to it in logs is

[code]

![image](https://user-images.githubusercontent.com/35523357/136805340-39ee1248-7ebe-4668-b0e6-072e61a325e9.png)

[2021-10-11 17:21] tinashe404 commented on #201
This issue isn still happening in the apps. example Wavi. linked to https://github.com/atsign-foundation/at_client_sdk/issues/1609

[2021-10-12 06:26] nitesh2599 commented on #215
@yahu1031 I tried to save the event after the edit, and I was able to do it. Can you please try it again.

[2021-10-12 07:19] yahu1031 commented on #215
Yes looks like this is fixed now. You can close this issue

[2021-10-12 07:22] #215 closed, assigned to sachins-geekyants

[2021-10-12 22:37] tinashe404 opened #236 "@ sign activation via OTP not working consistently"
**Describe the bug**
When activating an @ sign using the onboarding widget on @ wavi, the OTP is not working consistently. Sometimes it arrives in a few seconds, sometimes it takes over 2 minutes to arrive, sometimes it doesn't arrive at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a new @ sign
2. Click activate in the dashboard
3. When the QR code appears, enter the @ sign in th

[2021-10-14 12:14] baratanurag commented on #231
I want to contribute on this

[2021-10-14 12:16] baratanurag commented on #231
Can I work on this @TylerTrott  , this is issue is open from last 6 days ...... I will complete it asap :)

[2021-10-14 12:17] baratanurag commented on #216
I want to work on this

[2021-10-14 12:51] #216 closed, assigned to baratanurag

[2021-10-14 12:52] cpswan commented on #216
Thanks @baratanurag :)

[2021-10-14 13:19] cpswan commented on #231
This repo doesn't (yet) have appropriate CI tests to need a badge.

[2021-10-14 13:19] #231 closed, assigned to baratanurag

[2021-10-14 13:20] #120 closed, assigned to sarika01

[2021-10-14 13:20] #122 closed, assigned to sarika01

[2021-10-14 13:20] #127 closed, assigned to sarika01

[2021-10-16 19:46] cconstab opened #239 "WIDGET at_onboarding_flutter to cover Windows & Linux"
We need Windows coverage for @ mosphere Pro and whilst we have the code open cover Linux

[2021-10-18 08:38] charannnreddy commented on #201
@tinashe404 If an atsign is already activated, then the qr won't work. We can only use qr's of the deactivated atsigns.

[2021-10-18 15:01] tinashe404 commented on #201
@charannnreddy this had been failing on atsigns that were in the process of being activated. Will test with the new version.

[2021-10-18 18:52] yahu1031 commented on #210
yes, It was fixed. I will be closing this issue.

[2021-10-18 18:52] #210 closed, assigned to sachins-geekyants

[2021-10-18 18:52] #167 closed, assigned to yahu1031

[2021-10-18 19:28] yahu1031 opened #240 "OTPs are not on time in at_onboarding_widget"
**Describe the bug**
When I try to sign in with my staging atsign **`@superb12tan`**, It asked me for OTP that I received in my mail. But unfortunately, I didn't get one. But when I click on `Resend code`, I'm getting the old code that I was supposed to get when it asked me to enter OTP in the onboarding screen. Still, I tried with the old code, then when I got Auth failure, I got the new OTP in m

[2021-10-18 19:56] yahu1031 commented on #240
Not the same time logs but different time but almost same result logs

<details>

[code]
</details>

[2021-10-18 20:15] yahu1031 opened #241 "Auth Filed ☹️ on generating new atsign in wavi"
**Describe the bug**
Authentication failed, `Error in authenticateWith cram secret` and `error in authenticating =>  Instance of 'SecondaryNotFoundException'` in console logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Debug the wavi app in the staging environment
2. Try generating a new atsign.
3. Enter received OTP to onboarding widget and verify.

**Expected behavior**
It must authen

[2021-10-18 20:20] yahu1031 commented on #241
It shows I own this staging atsign. But it failed.
![image](https://user-images.githubusercontent.com/35523357/137800807-ff667746-b34b-4d6c-9725-0e3057d26be3.png)

[2021-10-18 21:07] yahu1031 commented on #155
I have gone through
**Device**
Model: Samsung Tab A(2018, 10.5)
OS: Android
Version: 10
System UI: One UI 2.1

Here are logs(Saved the atkeys file and fetched the atkeys file)

<details>

[code]

</details>

I couldn't see any access to local storage on this device.
![image](https://user-images.githubusercontent.com/35523357/137805921-492ab58f-d90c-4321-bd7d-47da39f4f08d.png)

My be as I said abov

[2021-10-19 06:16] yahu1031 commented on #236
Is this similar to #241?

[2021-10-19 13:24] tinashe404 commented on #236
@yahu1031 no this is not the same as 241. In this scenario the email that contains the OTP does not always arrive within a few seconds. Sometimes it takes minutes and sometimes the email does not arrive at all.

[2021-10-19 13:27] yahu1031 commented on #236
@tinashe404 Yes same with my case too...

[2021-10-19 13:31] tinashe404 commented on #236
@yahu1031 So when can we expect a fix for this?

[2021-10-19 13:43] tinashe404 commented on #157
confirmed fixed

[2021-10-19 13:43] #157 closed, assigned to Rajasekhar695, DivyaYadavareddy

[2021-10-19 13:45] yahu1031 commented on #157
This is the flow for the onboarding widget

1. Generate new atsign
2. Click on pair button
3. Enter your mail (has back)
4. OTP dialog (won't have back but we have the Wrong email)

1 -> 2 -> 3
- User change mind, (s)he can go back to 2
- Still wants to go back then to 1
- Then cancel

1 -> 2 -> 3 -> 4
- User change their mind, (s)he can go back using the wrong mail to 3.
- Still wants to go back,

[2021-10-20 08:17] yahu1031 opened #243 "Null Check error in at_location_flutter widget"
**Describe the bug**
On the first time login, the code stops at [lib/service/send_location_notification.dart - L217](https://github.com/atsign-foundation/at_widgets/blob/trunk/at_location_flutter/lib/service/send_location_notification.dart#L217) states that atClient is null.

**To Reproduce**
Steps to reproduce the behavior:
1. Install arrive app newly(debugging).
2. Run the code
3. Put on some at

[2021-10-21 12:38] #243 closed, assigned to nitesh2599

[2021-10-27 14:23] sachins-geekyants opened #253 "AtmospherePro desktop - contact image not showing on select contact screen"
If an atsign has image , It doesn't sows in contact selection screen.

[2021-11-01 05:51] charannnreddy commented on #201
@tinashe404 Did you get a chance to test with the new version?

[2021-11-01 14:01] tinashe404 commented on #201
@charannnreddy the QR Code scanner is working now  (was able to activate the atsign) however when you press Scan QR Code, the camera square is not appearing in the widget correctly. Please see screenshot below.
![IMG_5661](https://user-images.githubusercontent.com/69275762/139683813-77b2e075-f0b8-4545-913c-8ed264334d5d.PNG)

[2021-11-02 12:09] sarika01 commented on #253
Addressed in https://github.com/atsign-foundation/at_widgets/pull/252

[2021-11-02 12:09] #253 closed, assigned to sachins-geekyants

[2021-11-02 12:46] sarika01 commented on #239
The code at https://github.com/atsign-foundation/at_widgets/tree/desktop/development supports windows. Need to extend support for Linux and address issues with QR scanner and free atsign generation.

[2021-11-02 12:52] sarika01 commented on #107
Requires review and publishing.

[2021-11-02 12:53] sarika01 commented on #78
Needs review and publishing.

[2021-11-02 12:54] sarika01 commented on #185
Needs review and publishing.

[2021-11-03 06:26] sachins-geekyants opened #254 "Onboarding failing with error message"
**Describe the bug**
I am trying to onboard in wavi.ng app and onboarding is failing with
`NoSuchMethodError: The method '[]' was called on null.` in onError callback.

**To Reproduce**
Steps to reproduce the behavior:
1. use at_onboarding_flutter: 3.0.4
2. when backup key is selected to authenticate , onError callback gets called.

**Expected behavior**
onboard should be successful.

**Screenshot

[2021-11-12 14:36] yahu1031 commented on #254
@sachins-geekyants Try evaluating the value `atValue.value` at [line 85](https://github.com/atsign-foundation/at_client_sdk/blob/trunk/at_client/lib/src/service/notification_service_impl.dart#L85).

[2021-11-13 12:25] yahu1031 commented on #236
@tinashe404 can you please check this issue and update it. If this can be closed then #241 also can be closed.

[2021-11-15 13:27] sarika01 commented on #239
• Enabled Linux and windows platform support.
• Added additional package to save backup keys.
• Added QR code file reading support for desktop platforms.

Latest code available at https://github.com/atsign-foundation/at_widgets/tree/desktop/development

[2021-11-15 13:30] sarika01 commented on #107
Core functionality of reporting issues in string form with date and time is done.
Package requires further improvement:

- [ ] renaming
- [ ] documentation
- [ ] generalised error/analytics categories

[2021-11-15 13:32] sarika01 commented on #78
Requires documentation and publishing.

[2021-11-15 13:33] sarika01 commented on #185
Requires documentation and publishing.

[2021-11-15 14:36] yahu1031 commented on #241
Issue got resolved

[2021-11-15 14:36] #241 closed, assigned to nobody

[2021-11-15 14:36] yahu1031 commented on #240
Issue got resolved

[2021-11-15 14:36] #240 closed, assigned to nobody

[2021-11-15 16:34] nickelskevin opened #257 "Sync widget shows progress and prevents any updates while in progress."

[2021-11-15 16:37] #257 closed, assigned to nobody

[2021-11-15 16:38] sarika01 commented on #257
Duplicate of https://github.com/atsign-foundation/at_widgets/issues/186

[2021-11-16 01:51] ksanty commented on #239
From meeting notes: Linux platform is enabled and code is available at https://github.com/atsign-foundation/at_widgets/tree/desktop/development
Still requires code refactoring.

[2021-11-16 13:29] sarika01 commented on #78
Package published: https://pub.dev/packages/at_notify_flutter

[2021-11-16 13:29] #78 closed

[2021-11-16 14:11] sarika01 commented on #185
Package published: https://pub.dev/packages/at_theme_flutter

[2021-11-16 14:11] #185 closed, assigned to sarika01, sachins-geekyants, sonle-geekyants

[2021-11-17 18:38] tinashe404 commented on #236
@yahu1031 I just attempted to activate @ sweetstonermetal and then pair it using the wavi app. Once the QR code was ready in atsign dashboard I entered the atsign into the onboarding widget at around 2:33pm Atlantic Time. It is now 2:38pm Atlantic Time and I still have not received the OTP.  This issue is still not resolved

[2021-11-17 18:42] yahu1031 commented on #236
@tinashe404 So this is from the production app end or are you debugging it?

[2021-11-17 18:43] tinashe404 commented on #236
@yahu1031 This is the wavi app in testflight.

[2021-11-17 18:55] yahu1031 commented on #236
Cool then need a fix 🔧

[2021-11-18 16:45] athandle commented on #236
@yahu1031 can you please debug if API is throwing error when user is not receiving OTP?
Delay we can accept in some cases but if Email is not going then it can be a bug we need to figure out the use case, ping me we can check together.

[2021-11-24 22:13] cconstab opened #267 "@Onboarding for desktops is using flutter_keychain which does not support desktop"
**Describe the bug**
Onboarding using a desktop (windows in my case) results in error due to flutter_keychain..
Suspect this is due to checking of old method of key storage ?

**To Reproduce**
Steps to reproduce the behavior:
1. Create Windows desktop app using onboarding widget
2. Try to run then see error

**Expected behavior**
No errors, the flutter_keychain should not be used/called if running

[2021-11-24 22:31] cconstab commented on #267
Confirmed suspicion, app works moving back to previous bracnh version in pub spec yaml

[code]

[2021-11-25 17:33] ksanty commented on #83
Hi @sachins-geekyants we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue.  Creating new issue cards today.

[2021-11-25 17:35] ksanty commented on #96
Hi @sachins-geekyants we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:36] ksanty commented on #93
Hi @sarika01 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:37] ksanty commented on #87
Hi @sarika01 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:39] ksanty commented on #90
Hi @nitesh2599 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:41] ksanty commented on #100
Hi @nitesh2599 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:43] ksanty commented on #80
Hi @sarika01 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

Please tag the correct person if you are the wrong [package maintainer](https://docs.google.com/spreadsheets/d/1delbz03XZBWAJBOtHl29UPnPg_05WhZbrOvMQVQVQkk/edit#gid=0).  Both Sameeraja and Shris are gone.

[2021-11-25 17:45] ksanty commented on #102
Hi @DivyaYadavareddy we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:47] ksanty commented on #103
@DivyaYadavareddy we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:48] ksanty commented on #101
Hi @nitesh2599 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:49] ksanty commented on #88
Hi @sarika01 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:53] ksanty commented on #84
Hi @sachins-geekyants we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:56] ksanty commented on #97
Hi @sachins-geekyants we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:57] ksanty commented on #94
Hi @sarika01 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:58] ksanty commented on #91
Hi @nitesh2599 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:59] ksanty commented on #81
Hi @sarika01 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

If you are not the correct [package maintainer](https://docs.google.com/spreadsheets/d/1delbz03XZBWAJBOtHl29UPnPg_05WhZbrOvMQVQVQkk/edit#gid=0), we need to update the list.

[2021-11-25 18:03] ksanty commented on #77
Hi @sarika01 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-26 03:58] ksanty opened #281 "Pub.dev documentation at_onboarding_flutter"
### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation
  - Readme (note: initial content com

[2021-11-26 03:59] ksanty opened #273 "Pub.dev documentation at_chat_flutter"
Lead: @sarika01
Review ticket #342

### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation

[2021-11-26 04:00] ksanty opened #274 "Pub.dev documentation at_contacts_flutter"
### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation
  - Readme (note: initial content com

[2021-11-26 04:02] ksanty opened #275 "Pub.dev documentation at_events_flutter"
Lead: @sarika01
Review ticket #342

### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation

[2021-11-26 04:05] ksanty opened #284 "Pub.dev documentation at_notify_flutter"
Lead: @sarika01
Review ticket #342

### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation

[2021-11-26 04:06] ksanty opened #276 "Pub.dev documentation at_backupkey_flutter"
### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation
  - Readme (note: initial content com

[2021-11-26 04:15] ksanty opened #283 "Pub.dev documentation at_follows_flutter"
Lead: @yahu1031
Review ticket #342

### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation

[2021-11-26 04:18] ksanty opened #277 "Pub.dev documentation at_location_flutter"
Lead: @sarika01
Review ticket #342

### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation

[2021-11-26 04:19] ksanty opened #278 "Pub.dev documentation at_invitation_flutter"
Lead: @Gayathri-GA
Review ticket #342

### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigatio

[2021-11-26 04:22] ksanty opened #282 "Pub.dev documentation at_contacts_group_flutter"
Lead: @sarika01
Review ticket #342

### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation

[2021-11-26 04:24] ksanty opened #279 "Pub.dev documentation at_theme_flutter"
Lead: @sarika01
Review ticket #342

### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation

[2021-11-26 04:25] ksanty opened #280 "Pub.dev documentation at_common_flutter"
### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation
  - Readme (note: initial content com

[2021-11-26 20:13] nickelskevin opened #269 "decide whether or not to add "packages" subdirectory for packages published to pub.dev"
**Is your feature request related to a problem? Please describe.**
The current directory structure creates bad links on pub.dev for Example content for flutter packages.
For example, clicking on the [example/lib/main.dart](https://github.com/atsign-foundation/at_libraries/blob/master/example/at_server_status_example.dart) link on the [at_server_status](https://pub.dev/packages/at_chat_flutter/exam

[2021-11-26 20:55] nickelskevin opened #270 "Add app skeleton templates for packages in pub.dev that create working app skeletons for the app facing packages"
Lead: @XavierChanth (please update if labeled incorrectly)

**Is your feature request related to a problem? Please describe.**
For pub.dev.  content, we need a means for a developer to quickly and easily test our packages to see if they meet their needs.

**Describe the solution you'd like**
The easiest way to do this is to extend flutter create with at_app and include our templates
For example:
`

[2021-11-26 21:24] nickelskevin opened #271 "propose creating a new widget that provides fido2 interoperability"
**Is your feature request related to a problem? Please describe.**
It would be useful to be able to authenticate in a browser using fido2 with an atsign where the private keys are on the mobile device under the control of the owner.

**Describe the solution you'd like**
Create a widget that can be included in any app that would allow an atsign to be used to authenticate in a browser running a flut

[2021-11-26 21:35] nickelskevin opened #272 "propose creating a new file sharing widget that makes it easy for apps to include this functioality"
**Is your feature request related to a problem? Please describe.**
It would be nice to add a widget that makes it easy to developers to securely share files between people using their app.

**Describe the solution you'd like**
Store and forward is most important, but it would be great to give the options to:
1. share using store and forward with temporal storage
2. share from existing location via

[2021-11-29 11:43] sachins-geekyants commented on #83
Duplicate of [this](https://github.com/atsign-foundation/.github/issues/6) ticket.

[2021-11-29 11:43] #83 closed

[2021-11-29 11:46] sachins-geekyants commented on #96
Duplicate of [this](https://github.com/atsign-foundation/.github/issues/13) ticket.

[2021-11-29 11:46] #96 closed

[2021-11-29 11:55] sarika01 commented on #239
Packages with changes for desktop development:

- [x] at_backupkey_flutter
- [x] at_common_flutter
- [x] at_contacts_flutter
- [x] at_contact_groups_flutter
- [x] at_onboarding_flutter

In the current sprint PR25,
• Merged and published at_client_mobile for desktop support
• Checked and Merged the code from desktop/development branch
• Enabled macos, windows and linux platforms for each package. T

[2021-11-29 12:15] sarika01 commented on #186
Target UI widgets are done.
Next task:

- [ ] Add integration to get sync status
- [ ] test and publish the package.

Documentation items to be completed:
- [x] Package should be implemented with rSDK
- [x] Include an example (sample) app based on at_app skeleton
- [ ] Add example.md to explain how to run the sample app
- [x] Ensure the readme.md follows the best practice template (WIP)
- [x] Make

[2021-11-29 12:25] sarika01 commented on #107
Not yet completed.

[2021-11-29 15:13] nitesh2599 commented on #90
at_location_flutter package is getting modified currently, will add documentation with respect to new changes, and will update details [here](https://github.com/atsign-foundation/.github/issues/11).

[2021-11-29 15:14] #90 closed

[2021-11-29 15:15] nitesh2599 commented on #100
at_events_flutter package is getting modified currently, will add documentation with respect to new changes, and will update details [here](https://github.com/atsign-foundation/.github/issues/7).

[2021-11-29 15:15] #100 closed

[2021-11-30 15:49] xavierchanth commented on #269
Found a couple of tools that do this:
- https://pub.dev/packages/melos
- https://pub.dev/packages/mono_repo

Melos uses the packages directory, but mono_repo has their own custom `mono_repo.yaml` and `mono_pkg.yaml` config files.

There seems to be a good set of devs using both, but mono_repo is preferred by the dart team.

[2021-11-30 16:27] cpswan commented on #155
@yahu1031 what would it take to get this closed, or should this just be a `won't fix` as there's nothing we can do about Samsung's breakage?

[2021-11-30 16:33] cpswan commented on #155
In which case... moved to 'Waiting for upstream dependencies'

[2021-11-30 17:55] cpswan commented on #269
Looking at Melos is already in the backlog with https://github.com/atsign-foundation/at_server/issues/374 since I came across it at DroidCon.

[2021-12-01 10:55] murali-shris commented on #24
@sachins-geekyants can this issue be closed?

[2021-12-01 11:00] sachins-geekyants commented on #24
@murali-shris It's fixed.

[2021-12-01 11:00] #24 closed

[2021-12-01 13:59] yahu1031 commented on #155
Need to discuss with @charannnreddy

[2021-12-01 22:32] tinashe404 opened #287 "Onboarding - Capture which app was used to activate an @ sign"
Lead: @cconstab

We are currently looking into the developer program and how they earn commissions. Since we don't have in app purchases at the moment, in order to determine which apps should get commissions on paid atsigns, we need the onboarding widget to report which app was used to activate a paid atsign.

A suggestion from Ashish was that maybe it could be stored in the atsign secondary or at

[2021-12-02 10:00] sarika01 commented on #239
Packages with desktop support published to pub.dev
• at_backupkey_flutter: ^3.1.0
• at_common_flutter: ^2.0.3
• at_contacts_flutter: ^3.1.0
• at_contacts_group_flutter: ^3.1.0
• at_onboarding_flutter: ^3.1.0

@cconstab Can we close this?

[2021-12-03 00:10] cconstab opened #288 "at_onboarding_flutter on PC/Mac does not save keys"
**Describe the bug**
at_onboarding_flutter on PC/Mac (possibly Linux checking) does not allow saving of keys when on onboarding a new of free @sign

**To Reproduce**
Steps to reproduce the behavior:
1. Create desktop App and include  widget
2. Try to onboard and save Key file
3. Save key does not do anything and it is impossible to save the Key

**Expected behavior**
To be able to save the key in

[2021-12-03 00:15] cconstab commented on #288
Video Demo using PC but same issue on MAC

https://user-images.githubusercontent.com/6131216/144522957-deaaca39-21df-48cd-946b-29c0e3089cf8.mp4

[2021-12-03 00:19] cconstab commented on #288
Some notes from the widget logs
[code]

[2021-12-03 00:40] cconstab commented on #288
With adding the right permissions to the  project

The file saves but the person using the app has no choice as to where to save the file or that it has actually saved!

[2021-12-03 00:40] cconstab commented on #288
Here you can see the interaction on MacOS

![Image 12-2-21 at 4 37 PM](https://user-images.githubusercontent.com/6131216/144525129-834d121e-0312-4073-91ac-ea6ae4e802f7.jpg)

[2021-12-03 01:38] cconstab commented on #239
I do not think so as we still have bugs/features missing not tested... See todays finding..

[2021-12-03 16:41] cconstab commented on #288
Quick test on MacOS and this issue looks fixed, although it would be nice to get a confirmation of the file being saved in the UI, but it does work !

Thank you @sarika01

[2021-12-06 15:08] tinashe404 commented on #236
any update on this?

[2021-12-06 15:20] athandle commented on #236
@yahu1031 waiting for your help

[2021-12-06 15:33] yahu1031 commented on #236
I will test and update it @tinashe404 @athandle

[2021-12-07 05:36] yahu1031 commented on #236
I and @purnimavenkatasubbu tested this issue too. It wasn't reproducible.

[2021-12-07 14:46] yahu1031 commented on #236
open this issue, if it isn't solved.

[2021-12-07 14:53] tinashe404 commented on #236
I have just done the following:
- Went into the atsign.com dashboard and clicked activate on ```@doublescolorful```
- Waited for the QR code to be generated
- Opened the wavi app on my phone (testflight version)
- Entered ```@doublescolorful``` into the atsign text field
- Waited for OTP to arrive... It has been 4 minutes and the code still has not arrived to my hotmail account (checked all folder

[2021-12-07 14:57] yahu1031 commented on #236
I tried on emulator

[2021-12-07 15:04] tinashe404 commented on #236
@yahu1031 I'll try on the simulator and see if I can get you logs

[2021-12-07 15:07] yahu1031 commented on #236
@tinashe404 I will check that from the code side. And are you sure about this is a bug and not a blocker?

[2021-12-07 18:42] xavierchanth commented on #269
Based on the needs of [atsign-foundation/at_server#374](https://github.com/atsign-foundation/at_server/issues/374), the only relevant package that I could find was melos.

I couldn't find any information for  mono_repo that discusses how they handle dependency overrides. My assumption is that they don't.

I also found [multipack](https://pub.dev/packages/multipack), this supports dependency overri

[2021-12-08 09:11] sarika01 commented on #239
I am removing the blocker as fixes for platform support are in place(#288).
@cconstab Please suggest if any more improvements/fixes are required.

[2021-12-08 14:18] yahu1031 commented on #236
@tinashe404 Made some code changes in the onboarding widget, and now it is in testing. if that works, you can expect a fix soon.

[2021-12-09 12:02] nitesh2599 commented on #191
@Rajasekhar695 I am getting _Instance of 'ResponseTimeOutException'_ while calling _AtFollowServices().initializeFollowService()_ in wavi.ng for _at_follows_flutter: ^3.0.4_.

Any fix for this ?

[2021-12-09 12:57] Rajasekhar695 commented on #191
@nitesh2599 wavi with at_follows_flutter: ^3.0.4 is working perfectly, i suppose if you are using staging atsigns for testing there seem to be server down in staging environment that's why you may getting ResponseTimeOutException.

[2021-12-09 14:27] nitesh2599 commented on #191
@Rajasekhar695 We are using production atsigns, and the package works fine for atsigns which don't have much data, but for atsigns having a lot of data, it is throwing _Instance of 'ResponseTimeOutException'_.

[2021-12-13 07:59] sarika01 commented on #107
Putting it into backlog for now for more priority items.

[2021-12-13 14:30] cpswan commented on #269
After further discussion with @XavierChanth and others I'm not sure that we should refactor existing packages. We just need to ensure that we have correct `repository:` tags defined in pubspec.yaml to prevent 404s.

[2021-12-13 15:48] #269 closed, assigned to gkc, cpswan, nickelskevin, cconstab, sarika01, xavierchanth

[2021-12-13 17:49] CynthiaPeter commented on #283
I am currently working on this documentation.

[2021-12-14 08:36] athandle commented on #236
@tinashe404 @yahu1031 noticed 1 small thing, if you are not adding API key in app then also OTP will not go

[2021-12-14 08:45] yahu1031 commented on #236
I will check that too. Thanks for the report.

[2021-12-14 15:07] yahu1031 commented on #236
@tinashe404 Is this issue happening with release versions too(not test-flights)?

[2021-12-14 18:40] tinashe404 commented on #236
@yahu1031 I tested using the app store version of wavi and the issue was happening there too

[2021-12-15 14:35] sarika01 opened #298 "at_onboarding_widget: Does not give option to enter re-enter OTP"
**Describe the bug**
Sometimes when there is mismatch in OTP entered, there is no option to re-enter the OTP

**To Reproduce**
Steps to reproduce the behavior:
1. First I entered an activated @ sign
2. Then the widget prompted to enter OTP
3. The OTP was not received for 5 mins and I pressed "resend"
4. The first attempt OTP was delivered and hence authentication failed.
5. There was no option to

[2021-12-20 20:29] cconstab opened #300 "Building with at_onboarding_flutter results in cryptic error"
**Describe the bug**
Error given when building from clean installation

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build an application using the at_onboarding_flutter package
2. First clean your cache `flutter pub cache clean'
2. Then `flutter run`
3. See the error.
4. Error seems to be on line 216 of `at_onboarding_flutter-3.1.1\lib\services\onboarding_service.dart`

`    if (_

[2021-12-20 20:48] xavierchanth commented on #300
[Changes to at_client](https://github.com/atsign-foundation/at_client_sdk/pull/330) need to be propagated to our other packages.

[2021-12-20 23:18] cconstab commented on #300
Added a few other players to the ticket as this feels like something we need to catch in builds/tests..

[2021-12-20 23:20] gkc commented on #300
Not sure what needs doing here. Which changes need to be propagated?

[2021-12-20 23:22] gkc commented on #300
Ob I see now

breaking change in at_client from a rename of a sync strategy

[2021-12-20 23:26] gkc commented on #300
@murali-shris can you take a look please?

[2021-12-20 23:42] cconstab commented on #270
Added snackbar and snackbar_sender to the at_app and worked with @XavierChanth to test. More work to be done but stage 1 completed thanks to Xavier!

[code]

[2021-12-20 23:53] gkc commented on #300
TIL : read issue on github rather than in my email

thanks Xavier for linking the pull request that made the changes

we’ve got two choices here:
1) revert the breaking changes. Downsides: (a) downstream code may have already been changed to use the new const and enum names (b) we would be reverting to non-dart-standard naming

2) update the code downstream - ie in all of the widgets etc

I prefer

[2021-12-21 07:10] cconstab commented on #300
@gkc Yes I like option 2 and is essentially how we came across the issue.. I suspect most developers rely on `flutter pub get` alone and rarely if ever clear cache and then rebuild.. This we clearly could do in a workflow.

[2021-12-21 07:13] cconstab commented on #300
at_client/lib/src/preference/at_client_preference.dart line 65

[2021-12-21 10:01] gkc commented on #300
First step - change at_onboarding_flutter to use the new `SyncStrategy.onDemand` rather than the old `SyncStrategy.ONDEMAND`

[2021-12-21 10:06] murali-shris commented on #300
@gkc I will make the fix and publish the minor version. Thank you

[2021-12-21 11:24] murali-shris commented on #300
https://github.com/atsign-foundation/at_widgets/search?q=SyncStrategy&type=code
A bunch of widgets have to be fixed and published

[2021-12-21 12:44] gkc commented on #300
@murali-shris looking across all repos in atsign-foundation there are a few more references: https://github.com/search?q=org%3Aatsign-foundation+syncstrategy&type=code

[2021-12-21 12:45] gkc commented on #300
I'll do the changes in at_login repo

[2021-12-21 13:19] gkc commented on #300
@murali-shris I was going to make the changes in the at_login repo but I am having IDE problems ... please can you fix the issues in at_login repo? There's also a SyncStrategy reference in the at_libraries repo

[2021-12-21 16:09] murali-shris commented on #300
sure Gary

[2021-12-21 17:30] murali-shris commented on #300
published at_onboarding_flutter 3.1.2

[2021-12-21 17:32] murali-shris opened #305 "remove atclient sync strategy reference from widgets"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. First I '...'
2. Then I '...'
3. And then '...'
4.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the following information)

[2021-12-21 17:33] murali-shris commented on #300
code in other widgets will be fixed as a part of
https://github.com/atsign-foundation/at_widgets/issues/305

[2021-12-22 04:46] murali-shris commented on #305
published at_chat_flutter - 3.0.3

[2021-12-22 05:59] murali-shris commented on #305
published at_contacts_flutter 3.1.2

[2021-12-22 07:13] murali-shris commented on #305
published at_contacts_group_flutter 3.1.2, at_location_flutter 3.0.2, at_events_flutter 3.0.2, at_follows_flutter 3.0.5

[2021-12-27 05:47] #305 closed, assigned to murali-shris

[2022-01-04 20:37] xavierchanth commented on #270
Currently working on integrating [mason](https://pub.dev/packages/mason) to increase performance and simplify testing.

[2022-01-04 23:30] tinashe404 commented on #201
Hi.. Any update on this issue where the camera screen is not being displayed inside the UI element correctly?

[2022-01-05 01:30] cconstab commented on #300
@murali-shris looks like this ticket can now be closed.. Do you agree ?

[2022-01-06 10:16] cpswan opened #321 "Offer option to upload key file in onboarding widget"
Lead: @sarika01

**Describe the solution you'd like**

Onboarding should offer these options:

1. Upload and existing atKeys file
2. Create a free atsign
3. Activate an atsign

For 3 it should then offer:

a.  Scan a QR code
b.  Enter the atsign name to be activated.

**Describe alternatives you've considered**
This was discussed in the architecture call, and no alternatives emerged.

**Additional

[2022-01-06 17:31] XavierChanth opened #325 "Feature Request: Subscription contact groups"
**Is your feature request related to a problem? Please describe.**

This originates from the idea that someone could host their newsletter on atmosphere pro.
The problem is that the newsletter issuer would have to manually update their contact group for the newsletter.

**Describe the solution you'd like**
Be able to create a new type of contact group, where other people could subscribe/request to

[2022-01-09 19:43] yahu1031 commented on #236
Wait didn't I push a fix for this? Okie lemme check it and link this issue there.

[2022-01-09 19:46] yahu1031 commented on #236
PR was raised very long back - #296

[2022-01-09 19:51] yahu1031 commented on #87
I think this gonna be covered by @Intiserahmed

[2022-01-09 19:52] yahu1031 commented on #88
This gonna be covered by @Intiserahmed I guess

[2022-01-10 06:50] murali-shris commented on #300
yes @cconstab

[2022-01-10 06:50] #300 closed, assigned to gkc, nickelskevin, cconstab, sarika01, murali-shris, VJag, xavierchanth

[2022-01-10 07:50] nitesh2599 commented on #275
Published at_events_flutter 3.1.0

[2022-01-10 07:52] nitesh2599 commented on #277
Published at_location_flutter 3.1.0

[2022-01-10 07:53] nitesh2599 commented on #284
Published at_notify_flutter 1.0.2

[2022-01-10 11:22] sarika01 commented on #275
Requires updating the repository link and documentation link.

[2022-01-10 12:17] sarika01 commented on #273
Requires rebasing, updating repository and documentation link.

[2022-01-10 12:25] sarika01 commented on #284
Need to update repository link and documentation link.

[2022-01-10 12:34] sarika01 commented on #276
Need to add EXAMPLE.md

[2022-01-10 12:37] sarika01 commented on #277
Need to update repository link and add documentation link.

[2022-01-10 12:38] sarika01 commented on #278
No progress.

[2022-01-10 13:17] sarika01 commented on #282
Need to rebase and publish.

[2022-01-10 13:19] sarika01 commented on #279
Need to rebase and publish.

[2022-01-10 13:20] sarika01 commented on #280
Need to rebase and publish.

[2022-01-10 13:26] sarika01 commented on #186
No progress.

[2022-01-11 05:47] murali-shris commented on #274
issue can be closed once at_contact_flutter is published

[2022-01-11 13:12] yahu1031 commented on #236
Fixed and published in [at_onboarding_flutter - 3.1.3](https://pub.dev/packages/at_onboarding_flutter)

[2022-01-11 13:12] #236 closed, assigned to yahu1031

[2022-01-11 13:14] yahu1031 commented on #236
@tinashe404 I will ask the app devs to look into the code and update to the latest version. And In case this bug continues, please open it again.

\- Thank you

[2022-01-12 14:45] yahu1031 commented on #274
@murali-shris should I publish this `at_contacts_flutter` package?

[2022-01-12 20:00] tinashe404 commented on #236
@yahu1031 Sounds good, thanks Minnu!

[2022-01-16 23:23] tinashe404 opened #334 "Contacts widget - Make the + and x icons more noticeably different"
Lead: @sachins-geekyants

**Is your feature request related to a problem? Please describe.**
When selecting contacts in the contacts widget you use a + icon and when deselecting you use the x icon. Currently, both icons are small and grey and don't look very different from each other especially when dealing with a long list.

**Describe the solution you'd like**
Could we possibly look into maybe a

[2022-01-19 17:38] sarika01 commented on #281
Published version 3.1.4

[2022-01-19 17:39] sarika01 commented on #276
Published version 3.1.3

[2022-01-19 17:39] #276 closed, assigned to sonle-geekyants

[2022-01-19 17:40] #281 closed, assigned to Intiserahmed

[2022-01-19 17:54] sarika01 commented on #280
Published version 2.0.5

[2022-01-19 17:54] #280 closed, assigned to sarika01

[2022-01-21 06:34] yahu1031 commented on #274
published

[2022-01-21 06:34] #274 closed, assigned to yahu1031

[2022-01-21 06:36] yahu1031 commented on #87
@Intiserahmed can you please look at [this](https://pub.dev/packages/at_onboarding_flutter/score) as #281 as this was taken up by you.

[2022-01-21 06:55] sarika01 commented on #87
This is already actioned and published under https://github.com/atsign-foundation/at_widgets/issues/281

[2022-01-21 09:11] yahu1031 commented on #87
@sarika01 But still, the score tab has 20 points less. That is due to null safety issues.

[2022-01-21 09:12] sarika01 commented on #87
@yahu1031 That is applicable to all packages depending upon hive. There is nothing much that we can do at this point.

[2022-01-21 09:15] yahu1031 commented on #87
13 packages don't show `null-safety` tag in pub.dev

[2022-01-21 09:18] sarika01 commented on #87
All packages depending upon hive_flutter will have this issue. This was brought up and discussed months back. The decision was to leave it as it is till the at_client moves away from hive.

[2022-01-21 09:21] yahu1031 commented on #87
Okie then, I'm closing this.

[2022-01-21 09:21] #87 closed

[2022-01-23 22:27] xavierchanth commented on #270
Once my work on [at_app#42](https://github.com/atsign-foundation/at_app/issues/42) is complete, the process should be much easier, so I've dropped to 3 SP.

[2022-01-24 07:29] sarika01 commented on #321
No Progress.

[2022-01-24 08:19] yahu1031 commented on #283
About to make a release, and I cross-checked everything and the example doesn't work for some reason. Need to check it.

[2022-01-24 12:45] sarika01 commented on #107
Partially done.

[2022-01-24 13:10] sarika01 opened #342 "Pub.dev packages review"
Lead: @ksanty

Standard operating procedures for documentation [here](https://docs.google.com/document/d/1K4ytXLV99xQSLBmapZQlTn3--ZOzDw5M_a374AZ_7PE/edit)

The packages are published with updated documentation and example app. Links working

Please review the published version on pub.dev and provide feedback.

Also, any SEO keywords suggestion would be useful. See comments below. SEO and samples

[2022-01-24 13:59] gkc commented on #325
See also https://github.com/atsign-foundation/at_client_sdk/issues/380

[2022-01-24 14:10] gkc commented on #145
@cconstab a few months have passed ... is it time to take a look at this again?

[2022-01-24 16:12] gkc commented on #287
Decision to be pinned down and documented during this sprint

[2022-01-24 16:34] yahu1031 commented on #287
## Suggestions: ###

### Idea 1 ###
We can pass namespace to the req headers on API calls.

### Idea 2 ###
We can add a key in atKeys
[code]
So when the atKeys file was generated, we can put another key like `activatedFrom@someatsign` and `namespace` as values in their secondary.

### Drawback ###

**Idea 2** will increase the storage(a little bit though).

[2022-01-24 21:37] xavierchanth commented on #270
Pending the merge of atsign-foundation/at_app#66 & atsign-foundation/at_app#67, this will be ready to work on.

[2022-01-25 21:45] ksanty commented on #342
at_common_flutter review:

- [x] Read and verify content for comprehension
- [x] Technical review of samples and examples @nickelskevin
- [ ] SEO included (need to open a new ticket once we've identified keywords)
- [x] Spelling, grammar
- [x] Verify links / badges work properly

**Found Issue:**
- [ ] Review and check https://github.com/atsign-foundation/at_widgets/issues/384

@nickelskevin I'm u

[2022-01-28 00:53] ksanty commented on #342
at_onboarding_flutter review:

- [x] Read and verify content for comprehension
- [x] Technical review of samples and examples @nickelskevin
- [ ] SEO included (need to open a new ticket once we've identified keywords)
- [x] Spelling, grammar
- [x] Verify links / badges work properly

**Found issues:**
- [x] PR #345

@nickelskevin I'm unsure about where links should point to, they all work and thin

[2022-01-28 01:51] ksanty opened #345 "Pub.Dev - at_onboarding_flutter"
Under the [scores tab](https://pub.dev/packages/at_onboarding_flutter/score) it looks like null safe is not working.  Please check if something is broken or if this truly the case.  TY

![image](https://user-images.githubusercontent.com/74563278/151473103-19c2803c-21b3-4e83-a3a8-46b48c342f73.png)

[2022-01-28 02:05] ksanty commented on #342
at_backupkey_flutter review:

- [x] Read and verify content for comprehension
- [x] Technical review of samples and examples @nickelskevin
- [ ] SEO included (need to open a new ticket once we've identified keywords)
- [x] Spelling, grammar
- [x] Verify links / badges work properly

**Found issues:**

- [x] PR #346

@nickelskevin I'm unsure about where links should point to, they all work and thin

[2022-01-28 02:26] ksanty opened #346 "Pub.Dev - at_backupkey_flutter"
Under the [scores tab](https://pub.dev/packages/at_backupkey_flutter/score) it looks like null safe is not working. Please check if something is broken or if this truly the case. TY

![image](https://user-images.githubusercontent.com/74563278/151476452-a47efd3c-9106-4669-95ea-8c47f12c8d20.png)

[2022-01-28 02:32] ksanty commented on #342
at_contacts_flutter review:

- [x] Read and verify content for comprehension
- [x] Technical review of samples and examples @nickelskevin
- [ ] SEO included  (need to open a new ticket once we've identified keywords)
- [x] Spelling, grammar
- [x] Verify links / badges work properly

**Found Issues:**

- [x]  PR #347

@nickelskevin I'm unsure about where links should point to, they all work and thi

[2022-01-28 03:54] Intiserahmed commented on #345
This package depends on hive-flutter in which Flutter seems to [block dart:indexed_db  ](https://github.com/dart-lang/pana/issues/891) thats why we don't have the null safety 20 points.

[2022-01-28 04:06] ksanty opened #347 "Pub.Dev - at_contacts_flutter"
Lead: @Gayathri-GA

Inconsistency with overview section from other landing pages.  See screenshots below.

- [x] Should we use at_contacts_flutter title (inconsistent across other packages too)
- [x] No overview (see 2nd screen shot)

![image](https://user-images.githubusercontent.com/74563278/151485420-82a6217d-7660-46ad-ac68-32f17ee8014c.png)

Ideal version from at_common_flutter
![image](https:

[2022-01-28 04:12] ksanty commented on #345
Should we remove at_onboarding_flutter under badges? Not consistent with other packages landing pages.

- [ ] Change Introduction to Overview? @nickelskevin

![image](https://user-images.githubusercontent.com/74563278/151486082-d0348739-5340-4291-8e0f-aa58dcbd4b9f.png)

No use of at_backupkey_flutter under badging.
![image](https://user-images.githubusercontent.com/74563278/151486195-064e884f-c4a4

[2022-01-28 04:15] ksanty commented on #345
Thanks @Intiserahmed

[2022-01-28 12:09] xavierchanth commented on #342
@sarika01 The example for at_backupkey_flutter is not using null safety (trunk branch).

[2022-01-28 15:13] xavierchanth commented on #270
See also [at_app#69](https://github.com/atsign-foundation/at_app/issues/69)

[2022-02-01 18:01] tinashe404 opened #352 "Onboarding Widget - Changes to the @sign activation process"
**Is your feature request related to a problem? Please describe.**
Currently, people are required to enter the atsign dashboard, click activate on an atsign and then continue the process on their mobile device. This feels like too many steps.

**Describe the solution you'd like**
Could we make the following changes?

**Person has an atsign that they have not activated yet and they are not currentl

[2022-02-02 17:46] tinashe404 opened #353 "Onboarding Widget - QR Code scanner not working"
Lead: @sonle-geekyants

**Describe the bug**
The QR Code scanner was working in atmosphere pro v 1.0.2(21) but it is no longer working in 1.0.2(22)

**To Reproduce**
Steps to reproduce the behavior:
1. Click activate on an atsign in the dashboard
2. Open atmosphere pro on mobile, version 1.0.2(22) in testflight and attempt to scan the QR Code
3. The QR Code screen will display a spinning icon and

[2022-02-03 01:00] tinashe404 opened #354 "Onboarding Widget - @ signs with emojis are not activating properly"
**Describe the bug**
When you try to activate an atsign that has an emoji in it, it looks as though it has successfully activated in the app but when you look in the atsign dashboard it still says "click to scan" and Colin noticed that atsigns in this state eg haqueen💙 and tinashe💙 do not have a public key.

**To Reproduce**
Steps to reproduce the behavior:
1. First get an atsign with an emoji in

[2022-02-04 16:18] sarika01 commented on #273
Published version 3.0.5

[2022-02-04 16:18] #273 closed, assigned to sarika01

[2022-02-04 16:24] sarika01 commented on #284
Published at_notify_flutter: ^1.0.3

[2022-02-04 16:24] #284 closed, assigned to sarika01

[2022-02-04 16:26] sarika01 commented on #277
Updated in at_location_flutter: ^3.1.1

[2022-02-04 16:28] sarika01 commented on #279
Published at_theme_flutter: ^1.0.1

[2022-02-04 16:28] #279 closed, assigned to sarika01

[2022-02-04 16:29] tinashe404 commented on #354
tinashe💙 was moved to canary and I tried activating it again. It is still not activating correctly. Same behaviour as above

[2022-02-04 16:46] cpswan commented on #354
@tinashe404 atsigns can't be activated in Canary right now, as @athandle hasn't added the capability to do that yet (though it's coming with https://github.com/atsign-foundation/at_server/issues/484)

If you want to test atsigns on the Canary cluster then please make sure they're activated on Hornet first, and then they can be moved.

[2022-02-04 19:21] tinashe404 commented on #354
Closing this because it's been moved over to the registrar repo for further investigation

[2022-02-04 19:21] #354 closed, assigned to gkc, cconstab

[2022-02-06 02:00] #93 closed

[2022-02-06 02:01] #80 closed

[2022-02-06 02:01] #102 closed

[2022-02-06 02:02] #103 closed

[2022-02-06 02:03] #101 closed

[2022-02-06 02:03] #88 closed

[2022-02-06 02:06] #84 closed

[2022-02-06 02:07] #97 closed

[2022-02-06 02:07] #94 closed

[2022-02-06 02:07] #91 closed

[2022-02-06 02:08] #81 closed

[2022-02-06 02:09] #77 closed

[2022-02-07 09:38] sitaram-kalluri commented on #287
During onboarding, After performing the initial auth, create a self key what will have namespace as a value and store into local-secondary and sync to remote secondary.
Have an API exposed which would the return value from the cloud secondary.

[2022-02-07 10:59] sarika01 commented on #345
The null safety points can not be claimed without support from hive_flutter package. This can be taken up in future when either we move away from hive or the package supports null safety.

[2022-02-07 10:59] #345 closed, assigned to nickelskevin

[2022-02-07 11:02] sarika01 commented on #346
The null safety points can not be claimed without support from hive_flutter package. This can be taken up in future when either we move away from hive or the package supports null safety.

[2022-02-07 11:02] #346 closed, assigned to nickelskevin

[2022-02-07 11:11] sarika01 commented on #321
With the existing issues coming up in onboarding flow - https://github.com/atsign-foundation/at_widgets/issues/353, https://github.com/atsign-company/at_handle_registrar_web/issues/271
this was not taken up.

Also, similar ticket: https://github.com/atsign-foundation/at_widgets/issues/352

[2022-02-07 11:25] sarika01 commented on #107
Requires review, testing and publishing.

[2022-02-07 11:27] sarika01 commented on #186
Functionality is added. Needs review, testing and publishing.

[2022-02-07 11:36] sarika01 commented on #334
No progress

[2022-02-07 12:07] sarika01 commented on #277
Published at_location_flutter: ^3.1.2

[2022-02-07 12:07] #277 closed, assigned to sarika01

[2022-02-07 12:22] xavierchanth opened #355 "at_onboarding_flutter | atsign fails to activate correctly"
Lead: @XavierChanth

Over the weekend I was trying to reset and reactivate some @‎signs to use for testing with at_app.

When I tried scanning the QR code for @‎xavierchanth💙 or @‎xavierchanth🧡, the app would hang.

- I tried with both atmosphere pro and wavi on an iPhone 11 (ios 15.3)
- These are the latest app store versions of the apps, I reinstalled both prior to trying to activate the @‎signs

[2022-02-07 12:35] sarika01 commented on #275
Published at_events_flutter: ^3.1.2

[2022-02-07 12:35] #275 closed, assigned to sarika01

[2022-02-07 12:40] sarika01 commented on #355
Related issue: https://github.com/atsign-company/at_handle_registrar_web/issues/271

[2022-02-07 13:25] sarika01 commented on #283
No progress.
@srieteja Can you please look into the failing example?

[2022-02-07 13:50] yahu1031 commented on #283
This can be re-estimated to 1SP

[2022-02-07 13:53] yahu1031 opened #357 "at_follows_flutter example is not working"
Lead: @nitesh2599

**Describe the bug**
The example app was not working with the current code in trunk(non migrated code) or at_follows_flutter-docs-update branch(migrated code)

**To Reproduce**
Steps to reproduce the behavior:
1. Pub get the example dependencies.
2. Run the example app
3. Onboard the app.
4. Search for some atsign and follow it.
5. Now to go Connections screen(widget).
6. It say

[2022-02-07 14:03] yahu1031 commented on #283
I have created a new for example app #357. Closing this WRT to it as the documentation part was completed for this package.

[2022-02-07 14:19] xavierchanth commented on #270
In PR 30 will take a pause on this issue, but giving it 2SP to finish manual testing on the PRs that are currently open.

[2022-02-07 14:28] xavierchanth commented on #270
Nevermind this, I've decided to include the PR as a sprint item.

[2022-02-10 07:56] sarika01 commented on #353
QR scanner fix is published in at_onboarding_flutter ^4.0.0

[2022-02-10 08:48] sarika01 commented on #355
at_onboarding_flutter: ^4.0.0 is published. Apps need to publish new versions with this.

[2022-02-10 10:58] xavierchanth commented on #355
Thank you, will that close this issue?

[2022-02-10 14:38] tinashe404 opened #364 "onboarding - failing to complete activation on an @sign with a capital letter"
**Describe the bug**
There are some atsigns that people got before we stopped allowing them to enter capital letters into the atsign generator. While looking into something, I found that I am not able to activate `@Shava`.

**To Reproduce**
Steps to reproduce the behavior:
1. In the dashboard, click activate on the atsign with a capital letter in it
2. In any of the apps, enter the atsign into the

[2022-02-11 03:33] athandle commented on #364
@tinashe404  I took care of this at API level, please check and share your feedback

[2022-02-11 13:16] sarika01 commented on #278
Updated and published at_invitation_flutter: ^2.0.0

[2022-02-11 13:16] #278 closed, assigned to sarika01, Gayathri-GA

[2022-02-14 09:06] sarika01 commented on #357
@yahu1031 Is there any update on this?

[2022-02-14 09:07] yahu1031 commented on #357
Not yet @sarika01 Didn't touch this yet. Will check on this today.

[2022-02-14 11:58] sarika01 commented on #321
This task is going to be addressed along with refactoring the entire code (https://github.com/atsign-foundation/at_client_sdk/issues/1615).
This will take longer than 5SPs.

[2022-02-14 13:14] yahu1031 commented on #357
As I dive deeper I found this exception stopping the whole process of fetching the Followers or Following count `cached:public:image.wavi@armadillocoffeesilky does not exist in keystore`. Where I don't have any key or not even an image for `@armadillocoffeesilky` atSign.

- These are the keys with image regex in [`@mangotangostable`](https://wavi.ng/@mangotangostable) atsign

[code]

- These are t

[2022-02-14 15:18] tinashe404 commented on #364
@athandle It's working on the dev environment. I'm assuming you haven't pushed it out to prod yet? `@Shava` still says it's invalid.

[2022-02-14 16:26] athandle commented on #364
@tinashe404  deployed to prod just now

[2022-02-15 00:56] tinashe404 commented on #364
@athandle This is working as expected. `@Shava` has successfully update and is up and running. I also checked regular atsign activation and this is still working fine.

[2022-02-15 04:47] VJag commented on #287
Solution 1:
-----------
API key per app/payee

Description:
------------
Through some process, a developer logs into atsign.dev and gets an API key for his/her app. He also shares his details in order to be paid for the @sign commissions.

This key is then used to activate the @signs. Since each app/payee is uniquely identified by a key, it is possible to identify and pay them.

In this approach s

[2022-02-18 11:15] sarika01 commented on #355
@XavierChanth Can you please confirm if your issue is resolved in the latest version of wavi released today?

[2022-02-18 11:34] xavierchanth commented on #355
Yes, I was able to successfully publish [my wavi page](https://wavi.ng/@xavierchanth%F0%9F%92%99).

[2022-02-18 11:42] sarika01 commented on #355
Thank you

[2022-02-18 11:42] #355 closed, assigned to sarika01, xavierchanth, athandle

[2022-02-18 12:47] sarika01 commented on #347
This is done and merged to trunk branch.
Needs to be published.

[2022-02-18 12:51] sarika01 commented on #282
This is done and merged to trunk.
Need to publish the package.

[2022-02-21 07:30] sarika01 commented on #353
@tinashe404 This can be tested in the latest wavi app.

[2022-02-21 09:45] sarika01 commented on #283
Moving it out till it is published. For that https://github.com/atsign-foundation/at_widgets/issues/357 needs to be completed.

[2022-02-21 09:47] sarika01 commented on #321
Adding it to current sprint with one week's effort. Need to re-evaluate post that.

[2022-02-21 09:58] sarika01 commented on #186
Requires documentation update and publishing.

[2022-02-21 10:14] yahu1031 commented on #357
@sarika01 This wasn't resolved. As the root cause was mentioned above, It must be handled in from the `at_follows_flutter` package.

[2022-02-21 10:36] yahu1031 commented on #357
I can get notifications when someone follows me.
<img width="367" alt="Screenshot 2022-02-21 at 4 01 29 PM" src="https://user-images.githubusercontent.com/35523357/154937623-f83b9939-93a2-4412-a2ed-32dc5f544103.png">

See I have 2 followers.
<img width="1254" alt="Screenshot 2022-02-21 at 4 04 17 PM" src="https://user-images.githubusercontent.com/35523357/154938106-b8c025d5-d64b-4537-b604-d4872560

[2022-02-21 12:16] VJag commented on #287
We have burned 5 story points and discussed the approach in an architecture call. This needs to be carried to the next sprint.

[2022-02-21 13:20] yahu1031 opened #370 "at_follows_flutter example fails to load Connections screen due to @Sign profile pics"
## Describe the bug ##
I was testing the `at_follows_flutter` package example and I found, the app is blocking me from getting the followers/following count. When I try debugging it more, It gave me `Fetching keys for @capitalistfriedchicken throws Exception: cached:public:image.wavi@capitalistfriedchicken does not exist in keystore`.(I got this after adding Exception catch in this function [conne

[2022-02-21 14:53] #364 closed, assigned to tinashe404

[2022-02-21 15:05] tinashe404 commented on #353
This is now working, could we please address the fact that the camera square doesn't fit in the UI element?
![IMG_7412](https://user-images.githubusercontent.com/69275762/154980610-07f4423c-ec83-4bbc-ba7c-d3ae089ec301.PNG)

[2022-02-22 10:39] sarika01 opened #372 "Automated functional tests"
**Context**
The packages in this repository do not have functional tests.

**Description**
Functional tests should be added to each package using the flutter_test package.

**List of packages**

- [ ] at_backupkey_flutter
- [x] at_chat_flutter
- [x] at_common_flutter
- [x] at_contacts_flutter
- [x] at_contacts_group_flutter
- [x] at_events_flutter
- [ ] at_follows_flutter
- [x] at_invitation_flutt

[2022-02-22 10:42] sarika01 commented on #372
at_chat_flutter package was covered in sprint PR30.

[2022-02-22 13:16] sarika01 commented on #342
@ksanty Adding some more packages which were updated for documentation. (reposted list in root above)

[2022-02-22 15:59] srieteja commented on #357
@nitesh2599 I'm facing the "secondary server not found" error too which was blocking me from making any progress on at_follows_flutter_example. If you do find a solution to it please let me know, I'll do the same.

[2022-02-23 11:42] nitesh2599 commented on #357
@srieteja I was getting "`secondary server not found`" error while onboarding, so I replaced the `main.dart` with the `main.dart` we get from `at_app` template.
And It solved the issue for me.
If you want to try it out, it's in [this](https://github.com/atsign-foundation/at_widgets/tree/fix/at_follows_flutter_example) branch.

[2022-02-23 11:55] nitesh2599 commented on #357
@yahu1031 I have added a `try{}catch{}` block to prevent the failure of fetching of one of the keys from stopping the entire function.

As mentioned in the `Expected behavior ` description of this ticket, I am able to get the `followers/following ` list.

![Screenshot 2022-02-23 at 5 24 07 PM](https://user-images.githubusercontent.com/74917928/155314524-29de882a-1b23-4b1b-9b27-7df9cc13165f.png)

T

[2022-02-24 07:13] sarika01 commented on #347
The publishing was held off as there were two issues for contacts and contacts_groups.
1. Adding a contact with image was failing
2. Creating a new contacts' group was failing

This has been fixed now and would be tested and published.

[2022-02-24 14:35] yahu1031 commented on #357
![simulator_screenshot_F754B35C-59D3-4971-9625-5B0059766F88](https://user-images.githubusercontent.com/35523357/155543886-cdab5782-9de3-4056-b117-1683d6b301e0.png)
[`@judicialabseiling`](https://wavi.ng/@judicialabseiling) has an image. But I can't get it. `_getAtsignData` I think that must be handled from app level (LMK if I'm wrong)

[2022-02-25 07:54] nitesh2599 commented on #357
@yahu1031 I have added a possible fix for the error where we don't get the image. It's in the same [branch](https://github.com/atsign-foundation/at_widgets/tree/fix/at_follows_flutter_example).

![Screenshot 2022-02-25 at 1 24 07 PM](https://user-images.githubusercontent.com/74917928/155676752-9fabea1a-9807-41bc-bdc8-d1927f9d1a25.png)

[2022-02-25 07:58] yahu1031 commented on #357
Are these fixes added to example? Or package?

[2022-02-25 08:00] nitesh2599 commented on #357
It's in package.

[2022-02-27 10:46] pranv-sonawane commented on #298
Hey! I had the same problem with the OTP too when I was using the @wavi app. The problem is that the first OTP arrives after requesting to resend the second OTP and still you don't get the second OTP, but after you hit resend again you will get the second OTP you requested for and the third one won't be there. I hope it will be fixed soon.

[2022-02-28 07:24] sarika01 commented on #282
Published: at_contacts_group_flutter: ^4.0.1

[2022-02-28 07:24] #282 closed, assigned to sarika01

[2022-02-28 07:26] sarika01 commented on #347
Published: at_contacts_flutter: ^4.0.1

[2022-02-28 07:26] #347 closed, assigned to nickelskevin, Gayathri-GA

[2022-02-28 14:52] nitesh2599 commented on #357
@yahu1031 Did the fix work for you ?

[2022-02-28 17:21] tinashe404 opened #376 "Onboarding - Can't select renamed atkeys on desktop"
**Describe the bug**
While using wavi desktop, I found that I am not able to upload keys that have been renamed. they are greyed out (as shown in the screenshot)

**To Reproduce**
Steps to reproduce the behavior:
1. Download your keys onto your pc/mac and then download them again so that the second copy is automatically renamed
2. Attempt to pair your atsign using wavi desktop
3. When it prompts y

[2022-02-28 19:52] kmahon99 opened #377 "Unresolvable Kotlin version mismatch in at_backupkey_flutter"
**Describe the bug**
In attempting to upgrade an app to the latest version of this package and Flutter in general, the app no longer builds. The following is shown:

Execution failed for task ':at_backupkey_flutter:compileDebugKotlin'.
Your project requires a newer version of the Kotlin Gradle plugin.

**To Reproduce**
Steps to reproduce the behavior:
1. Perform a Flutter Upgrade & Flutter Pub Upg

[2022-02-28 22:52] yahu1031 commented on #377
Same with me too. Sometimes with at_onboarding_flutter package too.

[2022-03-01 13:59] sarika01 commented on #377
@kmahon99 With kotlin version `1.3.50`, one of `at_backupkey_flutter` package dependency, `file_saver` fails to build.

The example app is building fine with it's kotlin version `1.4.31`.
You can give this a try as quick fix.

We will let you know once the package is fixed.

[2022-03-01 14:03] yahu1031 commented on #377
[code]

these are the logs for `1.4.31`

[2022-03-01 14:28] sarika01 commented on #377
@yahu1031 What is your project's `compileSdkVersion` and `minSdkVersion` ?

[2022-03-01 14:32] yahu1031 commented on #377
@sarika01

[code]

[2022-03-01 14:35] sarika01 commented on #377
@yahu1031 what is your app's `com.android.tools.build:gradle` version in dependencies?

[2022-03-01 14:36] yahu1031 commented on #377
`4.0.1` - Buzz app

[2022-03-07 03:56] ksanty commented on #342
at_chat_flutter review:

- [x] Read and verify content for comprehension
- [ ] SEO included  (need to open a new ticket once we've identified keywords)
- [x] Spelling, grammar
- [x] Verify links / badges work properly

[2022-03-07 03:57] ksanty commented on #342
at_events_flutter review:

- [x]  Read and verify content for comprehension
- [ ]  SEO included (need to open a new ticket once we've identified keywords)
- [x]  Spelling, grammar
- [x]  Verify links / badges work properly

**Found issue:**
- [ ] Review and update this issue https://github.com/atsign-foundation/at_widgets/issues/380

[2022-03-07 03:58] ksanty commented on #342
at_invitation_flutter review:

- [x]  Read and verify content for comprehension
- [ ]  SEO included (need to open a new ticket once we've identified keywords)
- [x]  Spelling, grammar
- [x]  Verify links / badges work properly

[2022-03-07 03:58] ksanty commented on #342
at_location_flutter review:

- [x]  Read and verify content for comprehension
- [ ]  SEO included (need to open a new ticket once we've identified keywords)
- [x]  Spelling, grammar
- [x]  Verify links / badges work properly

**Found issue:**
- [ ] Review and update this issue https://github.com/atsign-foundation/at_widgets/issues/381

[2022-03-07 03:59] ksanty commented on #342
at_notify_flutter review:

- [x]  Read and verify content for comprehension
- [ ]  SEO included (need to open a new ticket once we've identified keywords)
- [x]  Spelling, grammar
- [x]  Verify links / badges work properly

**Found issue:**
- [ ] Review and update this issue https://github.com/atsign-foundation/at_widgets/issues/382

[2022-03-07 03:59] ksanty commented on #342
at_sync_ui_flutter review:

- [x]  Read and verify content for comprehension
- [ ]  SEO included (need to open a new ticket once we've identified keywords)
- [x]  Spelling, grammar
- [x]  Verify links / badges work properly

Found issue:
- [ ] Review and update this issue https://github.com/atsign-foundation/at_widgets/issues/383

[2022-03-07 04:00] ksanty commented on #342
at_theme_flutter review:

- [x]  Read and verify content for comprehension
- [ ]  SEO included (need to open a new ticket once we've identified keywords)
- [x]  Spelling, grammar
- [x]  Verify links / badges work properly

[2022-03-07 04:13] ksanty opened #380 "Pub.Dev - at_events_flutter"
- [x] Overview missing from readme.md

![2022-03-06_20-12-44](https://user-images.githubusercontent.com/74563278/156966791-4392c4eb-01ca-4140-905e-ba4dbc5945f4.jpg)

Archetype readme.md example
![2022-03-06_20-09-25](https://user-images.githubusercontent.com/74563278/156966688-ddd0166b-3a2b-4fb6-9c7d-49abb7c91d01.jpg)

[2022-03-07 04:48] ksanty opened #381 "Pub.Dev - at_location_flutter"
- [x] Overview missing from readme.md

![2022-03-06_20-47-51](https://user-images.githubusercontent.com/74563278/156969819-7b358408-376c-4e74-99cf-f0414638cbe3.jpg)

Archetype readme.md example
![2022-03-06_20-09-25](https://user-images.githubusercontent.com/74563278/156966688-ddd0166b-3a2b-4fb6-9c7d-49abb7c91d01.jpg)

[2022-03-07 05:08] ksanty opened #382 "Pub.Dev - at_notify_flutter"
- [ ] Check documentation link is pointing to the correct page.  Currently pointing to [core technology homepage](https://atsign.dev/docs/functional_architecture/) instead of[ libraries page](https://atsign.dev/docs/functional_architecture/libraries/)

[2022-03-07 05:19] ksanty opened #383 "Pub.Dev - at_sync_ui_flutter"
- [x] Overview missing from readme.md
- [x] Also check for missing documentation link on right nav bar under documentation (not sure if there should be one there)

![2022-03-06_21-18-41](https://user-images.githubusercontent.com/74563278/156972577-d10ea0a1-b05c-4c96-9c7e-ba54228e96bc.jpg)

Archetype readme.md example
![2022-03-06_20-09-25](https://user-images.githubusercontent.com/74563278/1569666

[2022-03-07 05:34] ksanty opened #384 "Pub.Dev - at_common_flutter"
- [ ] Should there be a [documentation link](https://pub.dev/packages/at_common_flutter) under documentation?

[2022-03-07 07:13] yahu1031 commented on #357
Yes, it did.

[2022-03-07 08:52] sarika01 commented on #321
Work is in progress. Moving to next sprint.

[2022-03-07 09:59] sarika01 commented on #372
Work is in progress. Moving to next sprint.

[2022-03-07 10:06] #357 closed, assigned to nitesh2599

[2022-03-07 10:43] sarika01 commented on #186
Published: at_sync_ui_flutter: ^1.0.1

[2022-03-07 10:43] #186 closed, assigned to sarika01, nitesh2599

[2022-03-07 14:45] yahu1031 commented on #370
the main ticket has been closed, So closing this duplicate too.

[2022-03-07 14:45] #370 closed, assigned to nobody

[2022-03-07 14:46] yahu1031 commented on #283
The blocking tickets has been closed and we are good to go. Fix #385

[2022-03-07 16:24] yahu1031 commented on #376
Found the issue, is because of this [line](https://github.com/atsign-foundation/at_widgets/blob/trunk/at_onboarding_flutter/lib/screens/pair_atsign.dart#L469). As the extension is defined as `atKeys` and your extension there is `atkeys2`. They don't match. So it shows in gray color. So the suggestion would be is rename the file name, not the extension. Please make sure of it. you mean downloading

[2022-03-07 17:01] tinashe404 commented on #376
@yahu1031 I didn't rename the file myself. I saw the issue one someone else's machine and then replicated it on my end. What happened is that they had their keys on their computer but couldn't find them so they transferred them over to their laptop again and the system auto-renamed the file that way (on Mac). So when they were trying to use the new one, it wouldn't let them and they couldn't figur

[2022-03-07 19:54] yahu1031 commented on #376
related [apple ticket](https://developer.apple.com/forums/thread/681317).

[2022-03-10 20:18] kmahon99 commented on #377
@sarika01 that version of kotlin gives the same error unfortunately. Has there been any progress on this at all? Haven't been able to launch my app in over 2 weeks.

[2022-03-11 06:32] sarika01 commented on #377
@kmahon99 The example app works fine at my end. Can you please try this combination of kotlin version and gradle tools version?
[code]

[2022-03-14 11:17] sarika01 commented on #372
Tests covered run successfully and merged to trunk.

[2022-03-14 11:17] #372 closed, assigned to Gayathri-GA

[2022-03-14 11:18] sarika01 commented on #372
at_backupkey_flutter and at_follows_flutter have test coverage written by Purnima. They need some correction.

[2022-03-14 13:52] sarika01 commented on #376
@tinashe404 I tried duplicating the keys file to reproduce this. But, in every case the file extension does not change.
If the system renames it that way then I am getting a space between `.atKeys` and the number i.e. `.atKeys 2`. This format also works fine with the file picker.

Can you please let me know the exact steps that you could get this file extension. i.e. can you mention the device and

[2022-03-14 13:58] tinashe404 commented on #376
@sarika01 Mine have a space too. The one in the screenshot above is `@wavi_key.atKeys 2` but it was greyed out.

I'm on Monterey v 12.0.1

[2022-03-16 17:02] sarika01 commented on #376
On mobile, we can pick any file. On desktop, we are filtering out 'atKeys' extension. In this case, the file looses it's extension. Hence, also enabling files without extension to show up in filter.

[2022-03-21 13:06] sarika01 commented on #321
Planned work for first review is done and given for testing.

[2022-03-21 13:19] sarika01 commented on #376
Can be tested in the latest version on test-flight.

[2022-03-21 13:20] sarika01 commented on #380
Requires publishing to verify.

[2022-03-21 13:20] sarika01 commented on #381
Requires publishing to verify.

[2022-03-21 13:21] sarika01 commented on #382
Requires publishing to verify.

[2022-03-21 13:21] sarika01 commented on #383
Requires publishing to verify.

[2022-03-21 13:24] sarika01 commented on #384
Requires publishing to verify.

[2022-03-21 13:25] sarika01 commented on #342
Some more package document correction is yet to be published. Hence, moving to next sprint.

[2022-03-25 16:14] tinashe404 commented on #376
This works as expected!

[2022-03-25 16:14] #376 closed, assigned to sarika01

[2022-03-30 14:33] #283 closed, assigned to CynthiaPeter, yahu1031, srieteja

[2022-04-03 07:21] yahu1031 opened #393 "Add staging & testing rootDomain support for all validating functions in at_onboarding_flutter package"
### Is your feature request related to a problem? Please describe.

I'm trying to create a custom login screen. And trying to authenticate with

[code]

I'm running om the local server(`vip.ve.atsign.zone`). The authentication was failing with `ResponseStatus.serverNotReached` response cause `_checkAtSignServerStatus('@bob🛠')` returns `ServerStatus.unavailable`. This is because, The implementation

[2022-04-03 17:48] kmahon99 commented on #377
Apologies for the late response, been away for a while. I've tried the above combination and now I'm getting a different error:
![image](https://user-images.githubusercontent.com/10032032/161441119-6b8e5eed-7567-4922-a84b-5d65f4106ea9.png)
This seems to be something to do with null safety in an at_client package, is this a known issue?

[2022-04-03 18:33] yahu1031 commented on #377
Not related here and BTW pull the latest version.

[2022-04-03 19:13] kmahon99 commented on #377
Thanks, the latest packages seems to fix both of these issues.

[2022-04-03 19:14] #377 closed, assigned to yahu1031

[2022-04-04 11:27] nitesh2599 commented on #384
at_common_flutter 2.0.6 published.

[2022-04-04 11:43] nitesh2599 commented on #383
at_sync_ui_flutter 1.0.2 published.

[2022-04-04 12:00] nitesh2599 commented on #382
at_notify_flutter 1.0.4 published

[2022-04-04 12:23] sarika01 commented on #321
Work is done. Planning to roll out in phased manner after other changes like chunk based encryption.

[2022-04-04 12:25] sarika01 commented on #342
The pending packages have been published. @ksanty Please validate.

[2022-04-04 12:43] #382 closed, assigned to sarika01, nitesh2599

[2022-04-04 12:43] #384 closed, assigned to sarika01, nitesh2599

[2022-04-04 12:44] #383 closed, assigned to sarika01, nitesh2599

[2022-04-04 14:51] nitesh2599 commented on #381
Published at_location_flutter 3.1.3

[2022-04-04 15:30] nitesh2599 commented on #380
Published at_events_flutter 3.1.4

[2022-04-04 15:30] Intiserahmed opened #396 "Release at_dude_flutter widget package"
- [x] Turn At_dude app to at_dude widget package
- [x] Provide flexible attributes
- [x] Unit Test
- [x] Example app
- [x] Independent State Management

[2022-04-05 09:57] sonle-geekyants commented on #393
@yahu1031
For now, you can change the rootDomain in AppConstants from at_onboarding_flutter.
[code]
Because we will have a new at_onboarding package (which refactors the UI and flow). So  I think no need update the current at_onboarding_flutter package for this issue.
Please let me know your thoughts. Thank you!

[2022-04-05 10:17] yahu1031 commented on #393
Yes, cool. So this can go under enhancement for that new code then.

[2022-04-14 04:15] #270 closed, assigned to xavierchanth

[2022-04-19 12:35] sarika01 commented on #393
Moving this to "upstream dependency" till the new refactored at_onboarding_flutter package is released.

[2022-04-19 12:40] #380 closed, assigned to sarika01, nitesh2599

[2022-04-19 12:40] #381 closed, assigned to sarika01, nitesh2599

[2022-04-24 17:59] yahu1031 commented on #342
@sarika01 I see no info about getting an API for the app in the at_onboarding_widget package docs. Can you please have a look at that? (Hoping no need to raise another ticket for this)

[2022-04-25 05:43] sarika01 commented on #342
@yahu1031 Can you please elaborate on the requirement or the use-case that you are looking at?

[2022-04-25 07:26] yahu1031 commented on #342
There is no information on how to get the API key for the app in the at_onboarding_flutter package documentation. But in the code snippet, We mentioned that `API Key is mandatory for production environment.`. So need at least a line about how to get the API key(mail to `get-key@atsign.com`). We used to have it, but on the docs update, there are no traces of it.

[2022-05-05 07:49] sonle-geekyants commented on #321
I've made screenshots of the onboarding flow in Wavi app. Please check it!

[2022-05-06 00:25] sonle-geekyants commented on #321
[screenshot.zip](https://github.com/atsign-foundation/at_widgets/files/8636829/screenshot.zip)
Please try again with this file. Thank you!

[2022-05-12 17:11] yahu1031 opened #408 "null-aware operator was used on non-null value in at_contacts_flutter and at_onboarding_flutter"
**Describe the bug**
In at_contacts_flutter and at_onboarding_flutter has null-aware issue with `WidgetsBinding.instance`.

**To Reproduce**
Steps to reproduce the behavior:
1. Install/Upgrade Flutter to 3.0.0
2. Upgrade all you at packages
3. Run any app.

**Expected behavior**
This Error/Warning is not expected

**Logs**
[code]

![Screenshot 2022-05-12 at 10 38 48 PM](https://user-images.githubu

[2022-05-16 08:41] murali-shris commented on #287
moving this to backlog since issue has been carried over multiple sprints with no concrete approach

[2022-05-16 10:57] gkc commented on #287
Should be able to make progress on this once https://github.com/atsign-foundation/at_server/issues/686 has been implemented

[2022-05-16 16:12] yahu1031 commented on #408
@sachins-geekyants I don't think this takes 8SP. This is because of the Flutter 3.0 version. `WidgetBinding.instance` is not nullable anymore. Previously it used to be nullable. Not sure, Please LMK this is not what this issue is about.

[2022-05-17 09:00] Gayathri-GA commented on #334
@tinashe404
I have tried out these differentiations, We shall proceed further with your preference.

<img src="https://user-images.githubusercontent.com/60135944/168756035-eb295d07-9062-40b3-a4e9-8ddb12391613.png" width="300"/> <img src="https://user-images.githubusercontent.com/60135944/168756047-649a5ae4-f5bd-4216-a3bb-b45783308eec.png" width="300"/>

 <img src="https://user-images.githubusercon

[2022-05-20 14:02] tinashe404 commented on #334
@Gayathri-GA Please go with the second screenshot.. The one where the x is in a red circle. It will be easier for people who are colorblind to be able to differentiate between the icons.

[2022-05-21 19:30] Gayathri-GA commented on #334
@tinashe404
Fixed and raised [PR](https://github.com/atsign-foundation/at_widgets/pull/417) for approval.

[2022-05-25 07:14] sachins-geekyants commented on #408
Along with above mentioned `WidgetsBinding.instance` null aware issue we also have to apply lint rules in packages.

- [x] at_backupkey_flutter
- [x] at_chat_flutter
- [x] at_common_flutter
- [x] at_contacts_flutter
- [x] at_contacts_group_flutter
- [x] at_events_flutter
- [x] at_location_flutter
- [x] at_notify_flutter
- [x] at_onboarding_flutter
- [x] at_sync_ui_flutter
- [x] at_theme_flutter

[2022-05-27 08:22] sonle-geekyants commented on #352
I fixed for both issue: [#321](https://github.com/atsign-foundation/at_widgets/issues/321) and [#352](https://github.com/atsign-foundation/at_widgets/issues/352)
Please confirm the new UI in folder `new_ip_light` and then we can merge and test.

[2022-05-30 07:13] sachins-geekyants commented on #334
requires deployment and testing.

[2022-05-30 07:37] sachins-geekyants commented on #408
null aware fix and linting have been applied to packages - need to test examples and deploy.
Moving to next sprint.

[2022-06-02 01:10] tinashe404 commented on #353
This has been resolved

[2022-06-02 01:10] #353 closed, assigned to sonle-geekyants

[2022-06-02 13:36] nitesh2599 commented on #408
Packages testing and publishing:

- [x] at_backupkey_flutter
- [x] at_chat_flutter
- [x] at_common_flutter
- [x] at_contacts_flutter
- [x] at_contacts_group_flutter
- [x] at_events_flutter
- [x] at_location_flutter
- [x] at_notify_flutter
- [x] at_onboarding_flutter
- [x] at_sync_ui_flutter
- [x] at_theme_flutter

[2022-06-06 06:55] nitesh2599 commented on #408
@yahu1031 We have removed the bang operator and published the packages.

[2022-06-07 13:46] yahu1031 commented on #408
![image](https://user-images.githubusercontent.com/35523357/172396135-d665dbd2-eda6-4e32-a2cf-141e7adc3bb4.png)
Recently go this from one of the interns. Could you please check this? @nitesh2599

[2022-06-08 07:08] nitesh2599 commented on #408
@yahu1031 Can you ask for his flutter version ?

[2022-06-08 07:08] yahu1031 commented on #408
2.10.3

[2022-06-08 07:11] nitesh2599 commented on #408
This is a change made with respect to flutter 3.0 .

If he wants to use any flutter 2... versions, he should use previous versions of the package.

[2022-06-09 08:40] sonle-geekyants commented on #321
@tinashe404 & @pavithragk please test this issue with two app:
- Wavi on branch: `feature/onboarding-2.0`
- Atmosphere Pro on branch: `feature/onboarding-2.0`
Both of them use the at_onboarding_flutter in branch `feature/on-boarding-2.0`

[2022-06-09 08:41] sonle-geekyants commented on #352
@tinashe404 & @pavithragk please test this issue with two app:
- Wavi on branch: `feature/onboarding-2.0`
- Atmosphere Pro on branch: `feature/onboarding-2.0`
Both of them use the at_onboarding_flutter in branch `feature/on-boarding-2.0`

[2022-06-13 11:31] sachins-geekyants commented on #408
@yahu1031 Is the issue resolved? can we close this ticket?

[2022-06-13 11:32] yahu1031 commented on #408
yes, I'm closing this as it was resolved.

[2022-06-13 11:32] #408 closed, assigned to Pritam-deb, Sardar1208, sachins-geekyants, nitesh2599

[2022-06-25 16:55] yahu1031 opened #431 "Need a custom SyncUI widget"
### Which at_widget package you want to add enhancement?

at_sync_ui_flutter

### On what platforms do you want to add enhancement?

Android, iOS, Windows, MacOS, Linux

### Is your feature request related to a problem?

We need a custom Sync UI widget where we can place that in some part of the screen. Not any toast or dialog.

### Describe the solution that you'd like

Create a few other widgets

[2022-06-26 20:07] yahu1031 opened #432 "at_client/at_client_mobile, flutter_lints version to be updated in at_onboarding_flutter"
### Which at_widget package you find issue with?

at_onboarding_flutter

### On what platforms did you experience the issue?

Android, iOS, Windows, MacOS, Linux

### What version are you using?

at_onboarding_flutter: ^4.0.3

### What happened?

Due to the older versions of flutter_lints and at_client/at_client_flutter, We can't use the latest lints version in apps.

### Steps to reproduce

[code

[2022-06-27 13:03] tinashe404 commented on #321
linked to issues reported on this ticket https://github.com/atsign-foundation/apps/issues/468

[2022-06-27 13:03] tinashe404 commented on #352
linked to issues reported on this ticket https://github.com/atsign-foundation/apps/issues/468

[2022-06-30 06:14] nitesh2599 commented on #431
@yahu1031 I have added an `atSyncUIListener` method in `AtSyncUIService`, which can be used to listen to sync status changes, you can test this and see if it matches your requirement.
It's implementation is also added in the example.

The code is in this branch https://github.com/atsign-foundation/at_widgets/tree/feat/custom_sync_ui.

[2022-07-01 07:50] Sardar1208 commented on #432
- I have added a dependency override for lints 2.0.0 so it works for now.
- Meanwhile, I have posted that the at_client will need an update for lints.
- Also, I have tested the new list rules in version 2.0.0 are working fine.

Pr - https://github.com/atsign-foundation/at_widgets/pull/438

[2022-07-04 06:23] nitesh2599 commented on #431
@yahu1031 Is the change added enough, or we need to do something more ?

[2022-07-05 06:05] nitesh2599 commented on #431
@yahu1031 I have added an `AtSyncUIOverlay.none` state to neither show the `overlay` nor the `dialog`. Also, added an example button with its usage in the example folder.

https://github.com/atsign-foundation/at_widgets/commit/bdfb225b8fb5710ebe66cb3257d5184236ef36e8

[2022-07-05 06:06] yahu1031 commented on #431
Thanks @nitesh2599 will check and update.

[2022-07-05 07:26] yahu1031 commented on #431
@nitesh2599 I request you to check this PR I modified and added a custom sync indicator https://github.com/atsign-foundation/at_widgets/pull/442

[2022-07-05 08:53] yahu1031 opened #443 "fluttertoast is being a blocker for the apps/widgets which use file_picker/image_picker"
### Which at_widget package you find issue with?

at_location_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

at_location_flutter: ^3.1.6

### What happened?

Because of the `fluttertoast` used in `at_location_flutter`, we cannot pick any file from iCloud. Either the `fluttertoast` can be a direct dependency or a transitive dependency the issue e

[2022-07-05 09:02] yahu1031 commented on #443
### Solution I propose
Make use of ScaffoldMessenger and make custom toasts.

### Additional Info
I see them in
- `at_theme_flutter`
- `at_events_flutter`
- `at_location_flutter`
- `at_contacts_group_flutter`

[2022-07-05 13:07] gkc commented on #443
I see you [raised an issue](https://github.com/ponnamkarthik/FlutterToast/issues/391) on the [fluttertoast repo](https://github.com/ponnamkarthik/FlutterToast). Let's wait to hear back from the fluttertoast maintainer if they can resolve the issue. Alternatively, if you know how to resolve the issue, you could do the fix and test it and submit a PR to FlutterToast

[2022-07-05 13:12] yahu1031 commented on #443
@gkc Yes, I [did raise](https://github.com/ponnamkarthik/FlutterToast/issues/391) it in the rest of the repos that were being blocked by this package. Sadly I don't know the solution cause no traces were being found. So need to wait. And also this is a blocker for all the apps that use the above packages I mentioned. They can't move forward. They will get stuck on onboarding itself. I will wait fo

[2022-07-11 08:10] nitesh2599 commented on #431
@yahu1031 Can you please verify, if all the changes needed are done, if yes, I can release a new version of `at_sync_ui_flutter`.

[2022-07-11 08:12] yahu1031 commented on #431
As of now yes, #445 Resolve this and we are good to go. I tested this on atBuzz. That's working pretty fine.

[2022-07-11 09:02] sachins-geekyants commented on #431
Needs deployment of at_sync_ui_flutter, Moving to next sprint.

[2022-07-11 11:13] sachins-geekyants commented on #432
@Sardar1208 can we also upgrade lint version of other packages along with onboarding?

[2022-07-11 11:13] sachins-geekyants commented on #432
reducing sp and moving to next sprint.

[2022-07-11 13:34] nitesh2599 commented on #431
Published at_sync_ui_flutter 1.0.4 version with above changes.

[2022-07-11 14:21] #431 closed, assigned to nitesh2599

[2022-07-14 14:28] tinashe404 commented on #334
done

[2022-07-14 14:28] #334 closed, assigned to Gayathri-GA

[2022-07-14 14:55] tinashe404 commented on #111
fixed

[2022-07-14 14:55] #111 closed

[2022-07-16 05:09] #288 closed, assigned to sarika01

[2022-07-22 06:46] nitesh2599 commented on #432
Updated all the packages after analysing https://github.com/atsign-foundation/at_widgets/commits/flutter_lint_override, will be released after new version of at_client is released using `flutter_lints` `2.0.1`

[2022-07-25 11:49] nitesh2599 commented on #432
Needs to validate and deploy all the packages, moving to next sprint.

[2022-07-25 14:10] gkc commented on #443
What's latest on this @yahu1031 ?

[2022-07-25 14:15] yahu1031 commented on #443
@gkc Currently, no work is seen on that ticket. And also no activity was found. There was a solution that needs to be done from our side.
That is, Remove the [fluttertoast](https://pub.dev/packages/fluttertoast) from the packages and create our own custom toasts with [ScaffoldMessanger](https://api.flutter.dev/flutter/material/ScaffoldMessenger-class.html). We can create a package and use it.

[2022-07-28 00:54] ksanty commented on #145
@sachins-geekyants @nitesh2599 not sure the status of this ticket.  Looks like this might be completed based on ticket above?

[2022-07-28 01:11] ksanty commented on #287
@murali-shris above ticket is closed should we re-prioritize to high to try and finish PR43?

[2022-07-28 01:22] ksanty commented on #271
@nickelskevin @sachins-geekyants should we flag for discussion PR43?

[2022-07-28 01:52] ksanty commented on #272
@nickelskevin flagging for arch call discussion

[2022-07-28 01:54] ksanty commented on #107
@sachins-geekyants moving to high priority so we can finish

[2022-07-28 01:56] ksanty commented on #352
@tinashe404 moving to high priority so we can resolve and hopefully close in PR43

[2022-07-28 01:57] ksanty commented on #396
@Intiserahmed reassigning high priority, so when @CurtlyCritchlow is back we can work on.

[2022-07-28 01:58] ksanty commented on #106
@sachins-geekyants reassigning high priority so we can handle in PR43

[2022-07-28 01:59] ksanty commented on #150
@sonle-geekyants moving to high priority, so we can finish in PR43

[2022-07-28 02:01] ksanty commented on #325
@XavierChanth I moved this up to med priority since the above issue is med.

[2022-07-28 02:02] ksanty commented on #443
@yahu1031 I'm reassigning priority to high, so we can add to PR43 or PR44

[2022-07-28 04:50] murali-shris commented on #287
yes @ksanty

[2022-07-28 09:03] sachins-geekyants commented on #145
@ksanty yes, It have been addressed, we are in process of releasing new at_onboarding_flutter version.

[2022-07-28 12:08] tinashe404 commented on #352
@ksanty this is bring addressed in the other ticket

[2022-08-01 10:04] Intiserahmed commented on #396
Yeah Sure, Even I can pickup now where I left the work.

[2022-08-02 05:59] athandle commented on #287
@murali-shris do you have any update on this? How you are planning to do this?

[2022-08-05 04:20] sonle-geekyants commented on #352
@tinashe404 this ticket is resolved.
Please test it with AtmospherePro in `trunk` branch.

[2022-08-05 09:47] sonle-geekyants opened #459 "[at_onboarding] [MacOS] Need a feature allow user share atSign between apps"
### Which at_widget package you want to add enhancement?

at_onboarding_flutter

### On what platforms do you want to add enhancement?

MacOS

### Is your feature request related to a problem?

_No response_

### Describe the solution that you'd like

_No response_

### Describe alternatives that you have considered

_No response_

### Additional context

In the old at_onboarding version, desktop

[2022-08-05 09:52] sonle-geekyants commented on #393
@yahu1031
Please check the latest version of at_onboarding in `trunk` branch
We can pass `rootDomain` into `AtOnboardingConfig` when call the function `AtOnboarding.onboard...`

[2022-08-07 07:11] yahu1031 commented on #393
@sonle-geekyants Lemme check and update this

[2022-08-08 08:06] sachins-geekyants commented on #432
Need to release at_onboarding_flutter-3 and update all package examples with it.
Moving to next sprint.

[2022-08-08 14:41] Intiserahmed commented on #396
Started Working already just need some additional testing and litttle fixing.

[2022-08-08 14:49] tinashe404 commented on #352
@sonle-geekyants will do

[2022-08-09 11:05] yahu1031 commented on #443
@sonle-geekyants @sachins-geekyants @nitesh2599 Any idea or updates?

[2022-08-09 11:07] yahu1031 commented on #443
[code]
This code block will show the toast same as now. So we can get rid of flutter toast package. LMK what do you think.

[2022-08-09 11:27] sachins-geekyants commented on #443
@yahu1031 Are we replacing toast message with snackbar ?

[2022-08-09 11:28] yahu1031 commented on #443
May be. I suggest to do so.

[2022-08-10 11:51] sachins-geekyants opened #465 "Improvements in at_sync_ui_flutter - Sync observability improvement"
### Which at_widget package you want to add enhancement?

at_sync_ui_flutter

### On what platforms do you want to add enhancement?

Android, iOS, Windows, MacOS, Linux

### Is your feature request related to a problem?

There have been changes in at_client_sdk regarding sync observability which at_sync_ui_flutter does not support.

### Describe the solution that you'd like

at_sync_ui_flutter sho

[2022-08-10 15:57] nickelskevin commented on #459
IMHO - making use of keys that we have available to us to improve their experience is the preferred option.

[2022-08-10 15:59] cconstab commented on #459
It would be my suggestion to make sure that the other desktops env all act the same . So that needs investigation. If they do this is a good idea.

 I think we should also look into allowing multiple instances of applications so they do no step on each others hive files..

[2022-08-10 17:07] ksanty commented on #459
Leaving as a follow-up arch call discussion item

[2022-08-10 17:08] ksanty commented on #287
@athandle can you please add outcome notes from today's architecture discussion, so we can reclassify priority?  TY

[2022-08-11 07:09] nitesh2599 commented on #459
@sonle-geekyants We will have to check a few things here :

Platform that supports share feature:

Desktop Platforms:
- [ ] MacOS
- [ ] Windows
- [ ] Linux

Mobile Platforms:
- [ ] Android
- [ ] iOS (We will have to create ios app groups and test)

Data Related check:
- [ ] We also need to make sure that if we use the share feature on a platform, two apps should not step on each others hive files

[2022-08-11 09:04] sachins-geekyants commented on #443
@Pritam-deb please test this branch by Minnu : https://github.com/atsign-foundation/at_widgets/tree/toast_fix

Where flutter toast is replaced by snackbar.

[2022-08-11 13:12] yahu1031 commented on #443
Moving this ticket **requires validation**

[2022-08-11 15:02] Pritam-deb commented on #443
The text can be a bit bigger.
The toast could also pop a bit higher.

[2022-08-12 00:59] cconstab opened #469 "at_onboarding_flutter broken in version 4.0.4 crashes app !"
### Which at_widget package you find issue with?

at_onboarding_flutter

### On what platforms did you experience the issue?

Windows, MacOS

### What version are you using?

package version 4.0.4 (this is due to at_app not allowing 5.0.0)

### What happened?

Onboarding widget no longer works at all and crashes on macos also secret keys an print statements are logged on the console which should N

[2022-08-12 01:17] cconstab commented on #469
So looking through the error messages it looked like this is NOT a at_onboarding_flutter issue directly, but is something we need to fix.

 In the background i had another instance of the app running both on my Windows machine and Mac. When onboarding trys to open the hive boxes it fails (see the logs above) But then wierd stuff happens, the app crashes on mac but does od stuff on Windows.

 We I

[2022-08-12 03:08] cconstab commented on #469
Windows still not working 🤔

[2022-08-12 04:13] VJag commented on #469
@murali-shris @sachins-geekyants any idea where the printing of AES keys is happening?

@murali-shris @kalluriramkumar  I think we need to call close() on Hive boxes on shutdown hook equivalents in Dart as a best practice.

[2022-08-12 04:16] cconstab commented on #469
https://user-images.githubusercontent.com/6131216/184284023-95f14ca6-b9a7-4934-afce-eaee30b3c8e5.mp4

[2022-08-12 04:17] cconstab commented on #469
at_onboarding_flutter-4.0.4\lib\screens\pair_atsign.dart

[2022-08-12 04:17] VJag commented on #469
@cconstab So are we running the same app twice?

[2022-08-12 04:22] VJag commented on #469
@sachins-geekyants Can you look into this?

[2022-08-12 04:58] cconstab commented on #469
On Mac I was hence the logs above..

On windows the same code produces a broken experience as per video

[2022-08-12 05:58] VJag commented on #469
Thinking out loud, @murali-shris @kalluriramkumar  Does our give box file path naming convention friendly to run the same app twice? 🤔

[2022-08-12 07:49] athandle commented on #287
@ksanty  I am closing this ticket, will take care with https://github.com/atsign-company/at_handle_registrar_web/issues/140

[2022-08-12 07:49] #287 closed, assigned to cconstab, VJag

[2022-08-12 08:05] sachins-geekyants commented on #469
@cconstab I was able to replicate the issue and also got the red screen in macOS.

Actually, onboarding process was failing and `_handleError`  is getting called.
If you replace onPressed function body

`Navigator.of(context).pushReplacementNamed(HomeScreen.id);`

with
[code]
It will not move to next screen and no red screen would show up.

[2022-08-12 08:13] sachins-geekyants commented on #469
Also, when running multiple instances of the app, race condition is happening and OS is not able to read hive directory.
Found a similar reported issue : https://github.com/hivedb/hive/issues/333

[2022-08-12 17:46] cconstab commented on #469
@sachins-geekyants thanks for help.. On Windows this is the error I get when trying to onboard and hence the pop up of the "Unable to onboard widget" (although it has onboarded later)

I put in a print statement

[code]

And see this as the Error

[code]

Again this seems only to happen on Windows so suspect it is a at_onboarding_flutter issue specific to windows.. It may also explain the Print st

[2022-08-14 16:36] yahu1031 commented on #443
@Pritam-deb Toast has `fontSize` and `gravity` properties now.

[2022-08-15 22:16] kzawadi opened #472 "OnBoarding return type"
### Which at_widget package you want to add enhancement?

at_onboarding_flutter

### On what platforms do you want to add enhancement?

Android, iOS, Windows, MacOS, Linux

### Is your feature request related to a problem?

When calling authenticate() method it has a return type that is dynamic ...  This introduces some problems with some strict rules of clean dart code, It's a bit bad to return d

[2022-08-16 08:20] Pritam-deb commented on #443
[minnu customToast.webm](https://user-images.githubusercontent.com/49619791/184832110-51f3ddde-71e5-4f9d-8562-a87074742b7a.webm)
This is branch on which @yahu1031 worked in.
[flutterToast.webm](https://user-images.githubusercontent.com/49619791/184832155-b8118cea-70ff-4ea2-8255-4622cf89781e.webm)
Here, I have used FlutterToast here

Hence, looks good enough.

[2022-08-16 12:55] purnimavenkatasubbu opened #473 "atMospherePro throws error while building the app wrt qr_code_scanner package"
### Which at_widget package you find issue with?

at_onboarding_flutter

### On what platforms did you experience the issue?

Android

### What version are you using?

[code]

### What happened?

Build fails with the below mentioned error

### Steps to reproduce

[code]

### Additional info

_No response_

### Relevant log output

[code]

### Flutter analyze output

_No response_

### Flutter doct

[2022-08-16 14:01] sachins-geekyants commented on #469
I tried running for windows but Amazon workspace does not allows to authenticate because of following certificate issue:
[code]
Tried adding this suggested workaround in at_lookup, but didn't worked: https://stackoverflow.com/questions/54285172/how-to-solve-flutter-certificate-verify-failed-error-while-performing-a-post-req

I have requested for a windows system from geekyAnts to further test on i

[2022-08-16 15:39] sachins-geekyants commented on #469
@cconstab Can you once try running with at_onboarding_flutter:4.0.3/4.0.2 ?

[2022-08-16 23:33] cconstab commented on #469
I migrated (eventually to at_onboarding_flutter 5.0.0) and I get the same issue with the encryption keys

See video

https://user-images.githubusercontent.com/6131216/185002817-828de2de-dd31-4a0e-8d1c-5bf4a0ab5f29.mp4

[2022-08-17 03:41] cconstab commented on #469
@sachins-geekyants I see the keys being pickup in keychain_manager.dart but the keys are not getting into at_client_service.dart but only on Windows..

As I see them in keychain manager the Windows/Biometric storage is working..  So odd

 I have a 5.0.0. branch now that is sorta working on everything except Windows still..

 https://github.com/cconstab/at_nautel_snmp

[2022-08-17 13:39] purnimavenkatasubbu commented on #473
I was able to build atMosphere Pro app today by making the following changes:

1) kotlin version to '1.7.10'
2) distributionUrl=https://services.gradle.org/distributions/gradle-7.5.1-bin.zip

After changing the above, I faced a different exception

What went wrong:
Execution failed for task ':biometric_storage:kaptDebugKotlin'.

For this, I added biometric_storage in dependency_overrides
 biometri

[2022-08-17 13:39] sachins-geekyants commented on #469
We are getting exception in saving `AtClientData` data in `BiometricStorageFile`.
When AtClientData just have `pkamPrivateKey` , `pkamPrivateKey` it saves the record.

But when AtClientData have `pkamPrivateKey` , `pkamPrivateKey`, `encryptionPublicKey`, `encryptionPrivateKey` it throws following exception.

[code]

Windows is limiting on data that can be saved BiometricStorageFile.

[2022-08-17 14:55] sonle-geekyants commented on #469
The issues happened because `biometric_storage` package limits the number of characters saved in a key.
- In Android max is 2147483647 characters
- In iOS max is 4.2 billion characters
- But in Window max is 2560 characters. https://docs.microsoft.com/en-us/windows/win32/api/wincred/ns-wincred-credentiala
As everyone knows that with > `at_client_mobile 3.2.3+1` I did combine all data to one key be

[2022-08-17 15:05] gkc commented on #469
What are you thinking with regards to how to fix the issue, @sonle-geekyants ?

[2022-08-17 15:10] sonle-geekyants commented on #469
@gkc I think that we can separate the data into many segments and save it in many keys for Window platform.
But I will find some other better solutions before deciding how to fix the issue.
If you have any ideas, please let me know. Thank you!

[2022-08-18 11:28] sonle-geekyants commented on #469
@cconstab, @gkc , and @sachins-geekyants
I have updated `at_client_mobile` for Window platform in this branch `hotfix/window-limit-data-length`
Please override the package and test it again.

This is my commit: https://github.com/atsign-foundation/at_client_sdk/commit/cf4866449307a17ccaf70510b5dfafd44d3a5892
And the change just impacts to window platform only.

[2022-08-18 17:38] cconstab commented on #469
@sonle-geekyants Nice work!! This is now working on Windows! I think it would be worth documenting how we store the keys on each platform and why Windows is a little different on the atsign.dev website (v3.0) @anthonyvprakash  could you help on that ?

Thank you so much.. @gkc  make sure you like the way this is being solved but I am super happy you found the solution @sonle-geekyants
@sachins-gee

[2022-08-22 07:38] nitesh2599 commented on #432
Released:
- at_common_flutter (2.0.9)
- at_contacts_flutter (4.0.6)
- at_contacts_group_flutter (4.0.8)
- at_location_flutter (3.1.7)
- at_events_flutter (3.1.8
-  at_sync_ui_flutter (1.0.5)
- at_notify_flutter (1.0.6)
- at_theme_flutter (1.0.3)

with flutter_lints 2.0.1 versions.

[2022-08-22 07:39] sonle-geekyants commented on #150
I’ve fixed it on branch `feature/switch-theme-new` in the at_widgets. Please test it.

[2022-08-22 12:26] sachins-geekyants commented on #465
Added sync progress callback for app use.
Needs testing and validation: https://github.com/atsign-foundation/at_widgets/tree/at_sync_progress

[2022-08-22 13:41] sachins-geekyants commented on #459
Reducing SP and moving to next sprint.

[2022-08-22 13:43] sachins-geekyants commented on #150
Needs validation and release.
Moving to next sprint.

[2022-08-22 13:44] sachins-geekyants commented on #432
Moving to requires validation

[2022-08-22 13:51] sachins-geekyants commented on #465
Moving to next sprint nad reducing SP.

[2022-08-25 11:15] Pritam-deb opened #492 "Header texts are not displayed while onboarding"
### Which at_widget package you find issue with?

at_onboarding_flutter

### On what platforms did you experience the issue?

Android, iOS

### What version are you using?

package version 5.0.0

### What happened?

When onboarding the header texts on two onboarding screens are not visible.

### Steps to reproduce

[code]

### Additional info

_No response_

### Relevant log output

_No response_

[2022-08-26 12:01] Pritam-deb commented on #492
done and raised PR

[2022-08-29 06:43] sachins-geekyants commented on #150
@ayushkumarrojha can we test the packages for theme implementations ?

[2022-08-29 15:36] ksanty commented on #459
Would like Gary's input when he's back

[2022-08-30 06:12] sonle-geekyants commented on #459
@gkc and @sachins-geekyants
Related to this issue:
- MacOS: ok
- iOS: ok. the app must add `Keychain Sharing` to `Capabilities` in XCode
- Android: don't support. `biometric_storage` use `KeyStore` in Android and can't share between apps
- Linux: don't support for now
- Windows: ok.

And don't make any impact to hive data if app use share atSign.

[2022-08-30 09:25] Intiserahmed commented on #396
The Onboarding widget issues got me blocked to go further.

[2022-08-30 11:09] CurtlyCritchlow commented on #396
@Intiserahmed  I didn't experience any problem with onboarding. Did you try to reset the app or delete the app from your device and retry?

[2022-08-30 12:59] Intiserahmed commented on #396
@CurtlyCritchlow sorry i throughly checked now and found
 it is my wifi which was blocking it.

[2022-08-30 13:28] sachins-geekyants commented on #469
Key changes for windows have been merged into at_client_mobile trunk, waiting for a patch release so that onboarding package can be updated.

[2022-08-31 13:52] sachins-geekyants commented on #469
Fix released with `at_onboarding_flutter 5.0.1`

[2022-09-01 11:00] sachins-geekyants commented on #472
@kzawadi return type is added for `authenticate()` method, please check in trunk branch.

[2022-09-01 11:06] kzawadi commented on #472
That's great

[2022-09-01 11:06] #472 closed, assigned to sachins-geekyants

[2022-09-02 04:41] cconstab commented on #469
Wonderful! Nice work thanks

[2022-09-06 06:04] ayushkumarrojha commented on #150
@sonle-geekyants @sachins-geekyants

We have validated the switch themes feature with the atwidget feature/switch-theme-new branch, below issues are observed for the same:

**Observations:**
1. Red screen appears in at_follows_flutter when we tab on the screen
2. at_onboarding flutter is not getting build
3. Error message appears when Start onboarding button is clicked on macOS
4. Some buttons and

[2022-09-06 09:44] #469 closed, assigned to gkc, murali-shris, VJag, sachins-geekyants, sonle-geekyants

[2022-09-06 11:05] sachins-geekyants commented on #150
Assigning 5 SP and moving to next sprint.

[2022-09-06 12:29] sachins-geekyants commented on #465
Changes merged in at_widgets trunk.

[2022-09-06 12:29] #465 closed, assigned to sachins-geekyants

[2022-09-06 12:31] sachins-geekyants commented on #492
package deployed, can be tested.

[2022-09-07 16:02] CurtlyCritchlow opened #507 "at_onboarding_reset_screen.dart need to be imported to access AtOnboardingResetResult enum"
### Which at_widget package you find issue with?

at_onboarding_flutter

### On what platforms did you experience the issue?

iOS

### What version are you using?

at_onboarding_flutter: 5.0.0

### What happened?

I need to `import 'package:at_onboarding_flutter/screen/at_onboarding_reset_screen.dart';` to access the `AtOnboardingResetResult` enum.

I think the `AtOnboardingResetResult` enum shoul

[2022-09-08 20:09] JeremyTubongbanua opened #509 "cannot pick files in arrive during onboarding"
### Which at_widget package you find issue with?

at_onboarding_flutter

### On what platforms did you experience the issue?

iOS 15.5

### What version are you using?

[code]

### What happened?

![Screen Shot 2022-09-08 at 4 08 28 PM](https://user-images.githubusercontent.com/79019866/189216030-2739a086-0598-4bc2-a649-0f2539b01a05.png)
I cannot select my key file "@cooking2_key.atKeys" when usin

[2022-09-08 20:14] yahu1031 commented on #509
@JeremyTubongbanua Looks like specific top M2 chips. So I have tried this with Cynthia last time in M1 and on mine too and it worked like charm with the same configurations.

[2022-09-08 20:33] yahu1031 commented on #509
Okie I tried with M1, but it still can't pick.

[2022-09-19 12:57] sachins-geekyants commented on #150
Moving to requires validation.

[2022-09-30 21:13] stanezeaku commented on #509
https://user-images.githubusercontent.com/56836874/193356734-95e63f7e-43d3-4da4-9785-adb7ca1936a9.mp4

All you need to do is to long click on the file to get an options dialog, select "get info" and then click on the file.

[2022-10-01 16:35] yahu1031 commented on #509
@stanezeaku Yes, That may or may not work sometimes. And there were fixes made and going to be merged ASAP.

[2022-10-02 14:09] stanezeaku commented on #509
@yahu1031  alright, I will follow up with your fixes.

[2022-10-03 07:20] nitesh2599 commented on #459
Could not be worked on in this sprint, moving to next sprint.

[2022-10-03 14:18] tinashe404 commented on #201
This is now fixed

[2022-10-03 14:18] #201 closed, assigned to charannnreddy

[2022-10-03 15:11] xavierchanth commented on #342
Closing as stale, we've done countless releases since this card has been worked on.

[2022-10-03 15:11] #342 closed, assigned to nickelskevin, CynthiaPeter, xavierchanth, ksanty

[2022-10-04 07:33] ayushkumarrojha commented on #150
@sonle-geekyants @sachins-geekyants

We have validated the switch themes feature with the atwidget feature/switch-theme-new branch, below issues are observed for the same:

**Observations:**
1. We are not able to build at_contacts_flutter and at_onboarding-flutter
2. Pop-up box text is not visible in at_location flutter
<img width="340" alt="Screenshot 2022-10-04 at 12 55 56 pm" src="https://user-

[2022-10-05 22:25] gkc opened #546 "Keys problem with latest packages"
**Problem**
Keys of newly-created atsigns become unusable upon app restart when using latest libraries

**To reproduce**
* build iot_receiver app in mwc_demo repo
* run it, create a new atSign. Remember to back up the atKeys file
  * should work correctly
  * restart app, choose the atSign you just created
  * you will be presented  with a screen asking that you type in your PIN

**Workaround**
*

[2022-10-05 22:29] gkc commented on #546
Encountered by @nickelskevin  and @cconstab

Reproduced by @tinashe404   and workaround identified. The fact that this workaround works points to where the problem is

@sonle-geekyants please can you investigate urgently as we have a broken collection of published packages right now

[2022-10-06 07:14] sonle-geekyants commented on #546
I've checked on Onboarding example and I see that serverEncryptionPublicKey from BE returns null => result returns ACTIVATE status => app navigate to OTP Screen. Please ask to BE checks Staging environment

![Screen Shot 2022-10-06 at 13 50 05](https://user-images.githubusercontent.com/88494375/194237270-decac23f-7ecf-443b-b570-b762d8b8e1ce.png)

https://user-images.githubusercontent.com/88494375/

[2022-10-06 08:21] sonle-geekyants commented on #150
I have checked and I see that all issues are not occurring.
Popup has changed theme color and I still build successful at_contacts_flutter and at_onboarding_flutter on iOS.
Could you please pull the newest code from branch "feature/switch-theme-new" and test it again? @ayushkumarrojha

https://user-images.githubusercontent.com/88494375/194253901-ff24b79a-5f64-42a1-9a6d-9357b6669318.mov

https://us

[2022-10-06 08:34] gkc commented on #546
@sonle-geekyants this is happening in production

What are you asking to be checked? Why do you need it be checked? Sorry, your message isn't clear to me.

Have you followed the instructions I gave in the bug description as to how to reproduce the issue?

[2022-10-06 10:03] gkc commented on #546
More context: Issue was encountered by Scott, then by @cconstab and @nickelskevin. Reproduced by @tinashe404 yesterday using instructions given above.

[2022-10-06 10:56] sonle-geekyants commented on #546
Because I wasn't added to the iot_receiver app in the mwc_demo repo, I couldn't follow your instructions.
I see that when I call API transmission publickey to server, BE returns the error AT0015, could you check this error?

![Screen Shot 2022-10-06 at 15 34 33](https://user-images.githubusercontent.com/88494375/194295772-1d682cdb-a465-46e5-a4a0-ed2a3d4d0b73.png)

[2022-10-06 11:39] gkc commented on #546
@sonle-geekyants The repo is public. The app code is here: https://github.com/atsign-foundation/mwc_demo/tree/trunk/flutter/iot_receiver

You will fail to find public:publickey@atsign if onboarding has not been completed for that atSign. Did you reset the atSign at some point?

[2022-10-06 17:04] nitesh2599 commented on #546
I tried reverting back a few packages to use the previous versions and it started working for me, here's the branch https://github.com/atsign-foundation/mwc_demo/tree/fix/new_onboarding_atsigns, and here's the commit https://github.com/atsign-foundation/mwc_demo/commit/1472997d3747fb6b782eb70a7ac692ec4f66d3b9.

Will try to figure out if it is happening because of any one of the packages.

[2022-10-06 17:11] gkc commented on #546
Thank you @nitesh2599 !

[2022-10-07 03:54] sonle-geekyants commented on #546
I see when we use at_client: 3.0.38 it is working but if upgrade to version 3.0.39 (or 3.0.40) it will work failure
In at_client -> at_persistence_secondary_server library, we use version 3.0.34 it is working and if we upgrade it to version 3.0.36 it works error

[2022-10-07 08:58] gkc commented on #546
Thank you @sonle-geekyants!

@VJag can you/team investigate what changed in at_persistence_secondary_server  between 3.0.34 and 3.0.36 please, and see if you can diagnose the problem?

[2022-10-07 09:08] sonle-geekyants commented on #546
I use version 3.0.35 and it's working so I'm comparing version 3.0.35 and 3.0.36.
I think may be wrong in Hive and I'm still checking it.

[2022-10-07 09:10] gkc commented on #546
Ok thank you @sonle-geekyants

@VJag let's wait until @sonle-geekyants has finished their investigation

[2022-10-07 09:12] VJag commented on #546
Ok @gkc

[2022-10-07 11:18] sonle-geekyants commented on #546
Sorry, I've investigated but haven't found the cause yet. Could you ask someone who knows this library to investigate with me? @gkc

[2022-10-07 17:17] sitaram-kalluri commented on #546
Investigated the issue and suspect the following changes might be causing the issue: https://github.com/atsign-foundation/at_server/pull/893

##### Reasoning:

The signing_privatekey and signing_publickey are being skipped from sync and the changes are available on the client side, but the corresponding changes on the server are **NOT** released to production yet. Hence server tries to send the si

[2022-10-09 05:02] sitaram-kalluri commented on #546
Basing on discussion between Jagan, Murali and myself, the approach-1 seems feasible.

Also the initial thought to skip signing keys is to resolve the decryption error in the sync conflict resolution ( because the data in the  server is not encrypted which we are trying to decrypt in client side)

Later we added a check 'isEncrypted ' before decrypting the data in sync conflict resolution. Hence s

[2022-10-09 22:38] gkc commented on #546
1. Have you tested to prove that "skip signing keys" is no longer necessary?
2. In any event, I would prefer that we explicitly prevent syncing of data that shouldn't be synced so my preference is to promote current canary ti prod. Note that to do that we need to do another canary release first so that the new promote workflow can work

[2022-10-10 14:04] sitaram-kalluri commented on #546
@gkc  :

Tested the below scenario's on the canary servers and staging server
1. On canary server, on-boarded atmosphere pro app and initial sync was successful.
2. On canary server, able to send and receiver files successfully.

On Staging atsign's:
1. Created two new atsign's and able to onboard the app with back-up keys file successfully.
2. With atmosphere pro app, able to send and receive fil

[2022-10-10 15:14] sitaram-kalluri commented on #546
Tested the issue on a staging atsign:

https://user-images.githubusercontent.com/16645698/194931802-27a47e20-e76a-40a5-a6bc-1f35142fed8e.mp4

[2022-10-11 13:56] sitaram-kalluri commented on #546
![image](https://user-images.githubusercontent.com/16645698/195109967-fe1d859e-21d0-4989-add4-70c0aa31c6d0.png)

1. New client  sends sync:-1 to the server
2. Server sends the sync response which includes signing private key and signing public key
3. On the client side, the entries gets updated into the keystore but not into the commit log
(Due to changes in at_persistence_secondary_server v3.0.36

[2022-10-11 14:09] gkc commented on #546
Got it. And to be specific, the condition that never becomes false is in _syncFromServer, `while (serverCommitId > localCommitId)` which means we never get to the part of the sync process which syncs from the client

[2022-10-11 19:07] gkc commented on #546
Reopening as we have not yet published the new package nor pushed the new canary server release

[2022-10-12 10:27] sitaram-kalluri commented on #546
Fixes the issues in at_persistence_secondary_server with 3.0.39 and at_client 3.0.41

[2022-10-14 11:32] ayushkumarrojha commented on #150
@sonle-geekyants @sachins-geekyants

We have validated the switch themes feature with the atwidget feature/switch-theme-new branch, below issue is observed for the same:

**Observations:**
1. Text is not displayed in Group Name text box while creating a new group in at_contacts_group_flutter
![File_000 (6)](https://user-images.githubusercontent.com/106963334/195836823-f57251dd-0e7d-442e-b05a-7b5b1

[2022-10-14 15:54] gkc commented on #546
Complete. Turned out to be a lot of work!

[2022-10-14 15:54] #546 closed, assigned to sitaram-kalluri, VJag

[2022-10-17 12:12] sachins-geekyants commented on #459
Reducing SP and moving to next sprint for testing and deployment.

[2022-10-18 10:59] yahu1031 commented on #443
@Pritam-deb This issue from the fluttertoast seems fixed, Cross check this with fluttertoast package, If it works, use it. https://github.com/ponnamkarthik/FlutterToast/issues/391#event-7594635351

[2022-10-31 11:23] sachins-geekyants commented on #459
This could not be tested in the last sprint. Moving to next sprint.

@tinashe404 can you help us test following branch.
`feature/enable-user-sharing` of the Wavi app
`feature/enable-user-sharing` of the Atmosphere app

[2022-10-31 20:57] tinashe404 commented on #459
@sachins-geekyants sure lets have a chat about this when you're back on Wednesday.

[2022-11-08 10:50] sonle-geekyants commented on #459
I've added a function `sharing atSign` on Menu Bar in the Wavi app and the Atmosphere app. Please test it @tinashe404 @ayushkumarrojha @sachins-geekyants

https://user-images.githubusercontent.com/88494375/200545608-597881cf-73fe-4dfb-b0f8-985453a6997e.mov

[2022-11-09 00:29] tinashe404 commented on #459
I've tried this our on a simulator and have made the following observations

- If you open an app with an already onboarded atSign (in my case atmospherePro) and press start, it will ask if you want to share your atsign. At this point, i'm not sure which atSign is onboarded so i don't know if i want to share it or not. It would be good if we had something that shows which atSign it is. We also nee

[2022-11-09 03:11] sonle-geekyants commented on #459
-> Wavi will automatically onboard when you log in to HomePage -> enable sharing atSign before.

-> Default should turn on. Because when allow sharing atSign, the app will share all data. If you don't want to share data, you shouldn't turn on sharing atSign.
@tinashe404

[2022-11-11 15:47] tinashe404 commented on #459
Wording...

**Share this atSign with all your atPlatform apps?**

You will not be required to re-upload your atKeys when you use @tinashe404 with other atPlatform apps on this device.

[2022-11-14 11:23] sachins-geekyants commented on #459
Moving to next sprint.

[2022-11-15 04:16] sonle-geekyants commented on #459
Yes, I don't need to re-upload atKeys because when uploading atKeys in any app, I will save all information of that atSign in device. So I can share them with other atPlatform apps. @tinashe404

[2022-11-28 14:40] sonle-geekyants commented on #459
@ayushkumarrojha please help me test this ticket.